.block
  %h2 Sign in
  .content
    = render "shared/flash", :flash => flash
    = form_for @user, :url => session_path do |f|
      %p
        = f.label :email
        %br/
        = f.text_field :email
      %p
        = f.label :password
        %br/
        = f.password_field :password
      - if false 
        %p
          = f.check_box :remember_me
          = f.label :remember_me
      %p= f.submit "Sign in"
