%section
  .page-header
    %h1 Sign in
  .row
    .span8
      = render "shared/flash", :flash => flash
      = semantic_form_for @user, :url => session_path do |f|
        = f.inputs do
          = f.input :email
          = f.input :password
          = f.input :remember_me, :as => :boolean
        = f.buttons do
          = f.commit_button "Sign in", :button_html => {:class => "btn primary"}
    - if @conference
      .span8
        %h2=t("cfp.forgot_password_headline")
        %p=t("cfp.forgot_password_description")
        = action_button "", t("cfp.forgot_password_button"), new_cfp_user_password_path

