%section
  .page-header
    %h1 Welcome
  .row
    .span16
  .row
    .span16
      .flash
        %div{class: "alert-message error fade in", "data-alert" => "alert"}
          %p
            Thank you for your interest in participating in #{@conference.title}.
          %p
            Unfortunately, the Call for Participation does not (yet?) exist.
  .row
    .span16
      = render "shared/flash", flash: flash
  .row
    .span8
    .span8
      %h2=t("cfp.sign_up_headline")
      %p=t("cfp.sign_up_description", title: @conference.title)
      %p= action_button "", t("cfp.sign_up"), new_cfp_user_path
  .row
    .span8
      %h2=t("cfp.forgot_password_headline")
      %p=t("cfp.forgot_password_description")
      = action_button "", t("cfp.forgot_password_button"), new_cfp_user_password_path
    .span8
      %h2=t("cfp.confirmation_headline")
      %p=t("cfp.confirmation_description")
      = action_button "", t("cfp.confirmation_button"), new_cfp_user_confirmation_path
