%section
  .page-header
    %h1= t('cfp.welcome')
  .row
    .col-md-12
  .row
    .col-md-12
      .flash
        %div{class: "alert alert-danger alert-dismissible fade show", "data-alert" => "alert"}
          %p= t('cfp.pages.thank_for_interest', conference: @conference.title)
          %p= t('cfp.pages.unexisting_cfp')
  - if encourage_register
    .row
      .col-md-8
      .col-md-8
        %h2= t("cfp.sign_up_headline")
        %p= t("cfp.sign_up_description", title: @conference.title)
        - if Devise.mappings[:user].registerable?
          %p= action_button '<i class="bi bi-person-plus"></i> '.html_safe + t("cfp.sign_up"), new_user_registration_path, class: "btn btn-secondary"
    .row
      .col-md-8
        %h2= t("cfp.forgot_password_headline")
        %p= t("cfp.forgot_password_description")
        = action_button '<i class="bi bi-key"></i> '.html_safe + t("cfp.forgot_password_button"), new_user_password_path, class: "btn btn-secondary"
      .col-md-8
        %h2= t("cfp.confirmation_headline")
        %p= t("cfp.confirmation_description")
        = action_button '<i class="bi bi-check-circle"></i> '.html_safe + t("cfp.confirmation_button"), new_user_confirmation_path, class: "btn btn-secondary"
  - else
    .row
      .col-md-12
        %p= t('cfp.come_back')

