%section
  .page-header
    .pull-right
      - if available_conference_locales.size > 1
        %ul.pills
          - available_conference_locales.each do |locale|
            %li{class: (I18n.locale.to_s == locale.to_s) ? "active" : ""}
              = link_to locale.to_s, url_for( locale: locale )
    %h1= t('titles.cfp_welcome', {conference: @conference.title})

  - unless current_user
    .row
      .span16
        .alert-message.block-message
          %h1=t("cfp.login_required_title")
          %p
            =t("cfp.login_required")
            = action_button "small primary", t("cfp.login"), new_user_session_path
            = action_button "small", t("cfp.sign_up"), new_user_registration_path

  .row
    .span16
      - if @conference.call_for_participation.welcome_text.present?
        =render 'welcome_text'

      - else
        %p=t("cfp.welcome_text", title: @conference.title)

        %p=t("cfp.info_url_description_html", link: link_to(@conference.call_for_participation.info_url, @conference.call_for_participation.info_url))


  .row
    .span16
      .label.notice
        - if @conference.in_the_past?
          =t("cfp.conference_in_the_past")
        - else
          = raw GitHub::Markdown.render(t('cfp.deadline_description', {date: l(@conference.call_for_participation.end_date)}))
