%section
  .page-header
    .d-flex.flex-column.flex-md-row.justify-content-between.align-items-start.align-items-md-center.gap-3.mb-4
      %h1.mb-0= t('titles.cfp_welcome', conference: @conference.title)
      - if available_conference_locales.size > 1
        .btn-group{role: "group", "aria-label": "Language selection"}
          - available_conference_locales.each do |locale|
            = link_to locale.to_s.upcase, url_for(locale: locale), class: "btn btn-sm #{(I18n.locale.to_s == locale.to_s) ? 'btn-primary' : 'btn-outline-primary'}"

  - unless current_user
    .row
      .col-12
        .alert.alert-info
          .d-flex.flex-column.flex-md-row.justify-content-between.align-items-start.align-items-md-center.gap-3
            .flex-grow-1
              %h4.alert-heading=t("cfp.login_required_title")
              %p.mb-0=t("cfp.login_required")
            .d-flex.flex-wrap.gap-2
              = action_button '<i class="bi bi-box-arrow-in-right"></i> '.html_safe + t("cfp.login"), new_user_session_path, class: "btn btn-primary btn-sm"
              - if Devise.mappings[:user].registerable?
                = action_button '<i class="bi bi-person-plus"></i> '.html_safe + t("cfp.sign_up"), new_user_registration_path, class: "btn btn-primary btn-sm"

  .row
    .col-12
      - if @conference.call_for_participation.welcome_text.present?
        =render 'welcome_text'

      - else
        %p=t("cfp.welcome_text", title: @conference.title)

        %p=t("cfp.info_url_description_html", link: link_to(@conference.call_for_participation.info_url, @conference.call_for_participation.info_url))


  .row
    .col-12
      .alert.alert-warning
        - if @conference.in_the_past?
          =t("cfp.conference_in_the_past")
        - else
          = raw markdown_render(t('cfp.deadline_description', date: l(@conference.call_for_participation.end_date)))
