%ul
  - yaml_load_version(version).each do |attribute, change|
    %li
      %em= attribute
      - if change.is_a? Array
        changed from
        %em
          = sanitize(change[0].to_s, tags: [])
        to
        = succeed "." do
          %em
            = sanitize(change[1].to_s, tags: [])
      - else
        set to
        %em
          = sanitize(change.to_s, tags: [])
  - end if version.object_changes
