%p
  .row
    .col.span8
      = raw(GitHub::Markdown.render(t('emails_module.placeholders_hint_header')))
    .col.offset8= render "shared/variable_subst_help"

= simple_form_for @mail_template do |f|
  %fieldset.inputs
    = f.input :name
    = f.input :subject, input_html: { size: 100 }
    = f.input :content, as: :text, input_html: { rows: 20 }
  .actions
    = f.button :submit, class: 'primary'
