.card.border-info.border-opacity-25.mb-4
  .card-header.d-flex.align-items-center.bg-info.bg-opacity-10
    %i.bi.bi-info-circle.me-2
    %h6.mb-0= t('emails_module.template_help', default: 'Template Variables')
  .card-body
    .row
      .col-md-8
        = raw(markdown_render(t('emails_module.placeholders_hint_header')))
      .col-md-4
        = render "shared/variable_subst_help"

= simple_form_for @mail_template do |f|
  .card.shadow-sm.mb-4
    .card-header.d-flex.align-items-center
      %i.bi.bi-envelope-paper.me-2
      %h5.mb-0= t('mail_template', default: 'Mail Template')
    .card-body
      = f.input :name
      = f.input :subject, input_html: { size: 100 }
      = f.input :content, as: :text, input_html: { rows: 20 }

  .mt-4.p-3.bg-light.rounded.d-flex.gap-2
    = f.button :submit, class: 'btn btn-primary btn-lg'
    = link_to t('cancel'), :back, class: "btn btn-outline-secondary btn-lg"
