%h2= t('emails_module.send_mail')
%p= t('emails_module.mail_template_hint')

= simple_form_for @mail_template, url: send_mail_mail_template_path, html: { method: :put } do |f|
  .actions
    = select_tag "send_filter", options_for_select(@send_filter_options), style: "width:400px"
    = f.button :submit, t('send'), class: 'danger'
