%table.zebra-stripe
  %thead
    %tr
    - if @search
      %th= sort_link @search, :name, 'Name', term: params[:term]
      %th= sort_link @search, :subject, 'Subject', term: params[:term]
      %th= sort_link @search, :content, 'Content', term: params[:term]
      %th= sort_link @search, :created_at, term: params[:term]
    - else
      %th= t('name')
      %th= t('mail_subject')
      %th= t('content')
      %th= t('creation_date')
    %th.last
  %tbody
    - collection.each do |t|
      %tr
        %td= link_to t.name, t
        %td= t.subject
        %td= t.content.truncate(100)
        %td= t.created_at
        %td.buttons
          = action_button "small", t('show'), t
          - if policy(@conference).orga?
            = action_button "small", t('edit'), edit_mail_template_path(t)
            = action_button "small danger", t('destroy'), t, data: { confirm: t('are_you_sure') }, method: :delete
