%table.zebra-stripe
  %thead
    %tr
    - if @search
      %th= sort_link @search, :name, 'Name', term: params[:term]
      %th= sort_link @search, :subject, 'Subject', term: params[:term]
      %th= sort_link @search, :content, 'Content', term: params[:term]
      %th= sort_link @search, :created_at, term: params[:term]
    - else
      %th Name
      %th Subject
      %th Content
      %th Created at
    %th.last
  %tbody
    - collection.each do |t|
      %tr
        %td= link_to t.name, t
        %td= t.subject
        %td= t.content.truncate(100)
        %td= t.created_at
        %td.buttons
          = action_button "small", 'Show', t
          - if can? :crud, t
            = action_button "small", 'Edit', edit_mail_template_path(t)
            = action_button "small danger", 'Destroy', t, confirm: 'Are you sure?', method: :delete
