%section
  .row
    .span16
      %h2
      %table.zebra-striped
        %thead
          %tr
            %th= t('transport_needs_module.when')
            %th= t('type')
            %th= t('transport_needs_module.nb_seats')
            %th= t('transport_needs_module.booked_question')
            %th= t('note')
            %th
        %tbody
          - @view_model.transport_needs.each do |tn|
            %tr
              %td= tn.at.to_formatted_s(:long)
              %td= tn.transport_type
              %td= tn.seats
              %td= tn.booked
              %td= tn.note
