%p
  %b= t('col_event_state')
  - if @person.public_and_accepted_events_as_speaker_in(@conference).present?
    = @person.role_state(@conference)
  - else
    =t('not_speaking')

- unless @view_model.availabilities.nil?
  %p.availability
    %b= t('col_availability')
    - @view_model.availabilities.each do |availability|
      %span= "#{availability.start_date.strftime("%d.%m. %H:%M")} - #{availability.end_date.strftime("%H:%M")}"

- if @view_model.remote_ticket_present?
  %p
    %b= t('col_ticket')
    -if @conference.ticket_server.nil?
      = @person.ticket.remote_ticket_id
    -else
      = link_to @person.ticket.remote_ticket_id, get_ticket_view_url(@person.ticket.remote_ticket_id), target: "_blank"

