%section
  .row
    .col-md-12
      %h2= t('expenses')
  .row
    .col-md-6
      %p
        %b= t('col_reimbursed_expenses')
    .col-md-10
      %p
        = to_currency @view_model.expenses_sum_reimbursed
  .row
    .col-md-6
      %p
        %b= t('col_non_reimbursed_expenses')
    .col-md-10
      %p
        = to_currency @view_model.expenses_sum_non_reimbursed
