%section
  .row
    .span16
      %h2= t('expenses')
  .row
    .span6
      %p
        %b= t('col_reimbursed_expenses')
    .span10
      %p
        = to_currency @view_model.expenses_sum_reimbursed
  .row
    .span6
      %p
        %b= t('col_non_reimbursed_expenses')
    .span10
      %p
        = to_currency @view_model.expenses_sum_non_reimbursed
