%table.zebra-stripe
  %thead
    %tr
      %th.first
      - if @search
        %th= sort_link @search, :title, 'Title', term: params[:term]
        %th= sort_link @search, :track_name, "Track", term: params[:term]
        %th= sort_link @search, :event_type, term: params[:term]
        %th= sort_link @search, :state, 'State', term: params[:term]
        %th= sort_link @search, :conference, 'Conference', term: params[:term]
        %th= sort_link @search, :created_at, term: params[:term]
      - else
        %th Title
        %th Track
        %th Event type
        %th State
        %th Conference
        %th Created at
      %th.last
  %tbody
    - collection.each do |event|
      %tr
        %td= link_to (image_box event.logo, :small), event_url(id: event.id, conference_acronym: event.conference.acronym)
        %td
          = link_to event.title, event_url(id: event.id, conference_acronym: event.conference.acronym)
          %p.small
            = by_speakers(event)
        %td= event.track.try(:name)
        %td= event.event_type
        %td= event.state
        %td= event.conference.acronym
        %td= l(event.created_at.to_date)
        %td.buttons
          = action_button "small", 'Show', event
          - if can? :manage, event
            = action_button "small", 'Edit', edit_event_path(event)
            = action_button "small danger", 'Destroy', event, confirm: 'Are you sure?', method: :delete
