%table.zebra-stripe
  %thead
    %tr
      %th.first
      - if @search
        %th= sort_link @search, :title, t('title'), term: params[:term]
        %th= sort_link @search, :track_name, t('track'), term: params[:term]
        %th= sort_link @search, :event_type, term: params[:term]
        %th= sort_link @search, :state, t('state'), term: params[:term]
        %th= sort_link @search, :conference, t('conference'), term: params[:term]
        %th= sort_link @search, :created_at, term: params[:term]
      - else
        %th= t('title')
        %th= t('track')
        %th= Event.human_attribute_name('event_type')
        %th= t('state')
        %th= t('conference')
        %th= t('created_at')
      %th.last
  %tbody
    - collection.each do |event|
      %tr
        %td= link_to (image_box event.logo, :small), event_url(id: event.id, conference_acronym: event.conference.acronym)
        %td
          = link_to event.title, event_url(id: event.id, conference_acronym: event.conference.acronym)
          %p.small
            = by_speakers(event)
        %td= event.track.try(:name)
        %td= event.event_type
        %td= event.state
        %td= event.conference.acronym
        %td= l(event.created_at.to_date)
        %td.buttons
          = action_button "small", t('show'), event
          - if policy(@conference).manage?
            = action_button "small", t('edit'), edit_event_path(event)
            = action_button "small danger", t('destroy'), event, data: { confirm: t('are_you_sure') }, method: :delete
