= simple_form_for(@person, html: {multipart: true}) do |f|
  %fieldset.border.p-3.mb-4
    %legend.mb-3
      %i.bi.bi-shield-check
      = t('admin')
    = f.simple_fields_for :ticket do |ticket|
      = ticket.input :remote_ticket_id
    = f.input :note, hint: t('admin_visibility_only_hint')

  = render partial: 'shared/people_fields', locals: { person: @person, f: f }

  .actions
    = f.button :submit, class: 'btn btn-primary'
    = link_to t('cancel'), :back, class: "btn"
