= simple_form_for(@person, html: {multipart: true}) do |f|
  .card.border-0.bg-light.mb-4
    .card-header.d-flex.align-items-center
      %i.bi.bi-shield-check.me-2
      %h6.mb-0= t('admin')
    .card-body
      = f.simple_fields_for :ticket do |ticket|
        = ticket.input :remote_ticket_id
      = f.input :note, hint: t('admin_visibility_only_hint')

  = render partial: 'shared/people_fields', locals: { person: @person, f: f }

  .card.border-0.mt-4
    .card-footer.bg-light.d-flex.gap-2
      = f.button :submit, class: 'btn btn-primary'
      = link_to t('cancel'), :back, class: "btn btn-outline-secondary"
