= simple_form_for(@person, html: {multipart: true}) do |f|
  %fieldset.inputs
    %legend Admin
    = f.simple_fields_for :ticket do |ticket|
      = ticket.input :remote_ticket_id
    = f.input :note, hint: "visibility: admin only."

  = render partial: 'shared/people_fields', locals: { person: @person, f: f }

  .actions
    = f.button :submit, class: 'primary'
    = link_to "Cancel", :back, class: "btn"
