%table.table
  %tr
    %th.first
    %th First name
    %th Last name
    %th Public name
    %th Email
    %th.last
  - @people.each do |person|
    %tr{:class => cycle("odd", "even")}
      %td= image_box person.avatar, :small
      %td= person.first_name
      %td= person.last_name
      %td= person.public_name
      %td= person.email
      %td.last
        = link_to 'Show', person
        |
        \#{link_to 'Edit', edit_person_path(person)} |
        \#{link_to 'Destroy', person, :confirm => 'Are you sure?', :method => :delete}
