<%= block do %>
  <%= content do %>
    <h2>Editing person</h2>

    <%= inner do %>
      <%= render 'form' %>

      <%= link_to 'Show', @person %> |
      <%= link_to 'Back', people_path %>
    <% end %>
  <% end %>
<% end %>
