= block do
  .secondary-navigation
    %ul.wat-cf
      %li.active.first= link_to "Profile", @person
      %li= link_to "User account", person_user_path(@person)
  = content do
    %h2 Editing person
    = inner do
      = render 'form'
