%section
  .page-header
    .pull-right
      - if can? :manage, @person
        = action_button "primary", "Edit person", edit_person_path(@person), title: "Edit this person's data."
      - if can? :administrate, Person
        = action_button "add", "Add person", new_person_path, title: "Add a new person."
    %h1 Person: #{@person.full_name}
  = render 'shared/people_tabs'
  .row
    .span16
      %h2 Basic information
  .row
    .span8
      %p
        %b Ful name:
        = @person.first_name
        = @person.last_name
      %p
        %b Public name:
        = @person.public_name
    .span4
      %p
        %b Email:
        = mail_to @person.email
        (#{@person.email_public? ? "public" : "non-public"})
    .span4
      = image_box @person.avatar, :large
%section
  .row
    .span16
      - unless @current_events.empty?
        %h2 Events in current conference
        = render "feedback_table", collection: @current_events
      - unless @other_events.empty?
        %h2 Events in other conferences
        = render "feedback_table", collection: @other_events
