<h1>Listing people</h1>

<table>
  <tr>
    <th>First name</th>
    <th>Last name</th>
    <th>Public name</th>
    <th>Email</th>
    <th>Email public</th>
    <th>Gender</th>
    <th>Abstract</th>
    <th>Description</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @people.each do |person| %>
  <tr>
    <td><%= person.first_name %></td>
    <td><%= person.last_name %></td>
    <td><%= person.public_name %></td>
    <td><%= person.email %></td>
    <td><%= person.email_public %></td>
    <td><%= person.gender %></td>
    <td><%= person.abstract %></td>
    <td><%= person.description %></td>
    <td><%= link_to 'Show', person %></td>
    <td><%= link_to 'Edit', edit_person_path(person) %></td>
    <td><%= link_to 'Destroy', person, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Person', new_person_path %>
