%section
  .page-header
    .pull-right
      - if policy(@conference).manage?
        = action_button "primary", t('people_module.add_person'), new_person_path, title: t('people_module.add_person_hint')
    %h1= t('people_module.list_of_people')
  %ul.tabs
    %li.active= link_to t('this_conference'), people_path
    %li= link_to t('speakers'), speakers_people_path
    %li= link_to t('people_module.all_people'), all_people_path
  - if params[:term].blank? and @people.all.empty?
    .row
      .span16
        .blank-slate
          - if Person.count <= 1
            %p= raw(GitHub::Markdown.render(t('people_module.no_people_data')))
          - else
            %p= raw(GitHub::Markdown.render(t('people_module.no_people_involved')))
  - else
    = render 'shared/search_and_table', collection: @people
