%section
  .page-header
    .pull-right
      - if can? :administrate, Person
        = action_button "primary", "Add person", new_person_path, title: "Add a new person."
    %h1 List of people
  %ul.tabs
    %li.active= link_to "This conference", people_path
    %li= link_to "Speakers", speakers_people_path
    %li= link_to "All people", all_people_path
  - if params[:term].blank? and @people.all.empty?
    .row
      .span16
        .blank-slate
          - if Person.count <= 1
            %p
              You do not have any data on people yet.
              Use the button on the right to start adding
              people. Please note that they will not appear
              here right away, unless they are involved
              in any of this conference's events. Use the
              <em>All people</em> tab above to see all
              people across all your conferences.
          - else
            %p
              There are no people associated with this
              conference yet. People will start appearing
              here, once they take on a role in any of
              this conference's events.
  - else
    = render 'shared/search_and_table', collection: @people
