%section
  .page-header
    .d-flex.flex-column.flex-md-row.justify-content-between.align-items-start.align-items-md-center.gap-3.mb-4
      %h1.mb-0= t('people_module.list_of_people')
      .btn-toolbar{role: "toolbar", "aria-label": "People management tools"}
        - if policy(@conference).manage?
          .btn-group{role: "group", "aria-label": "Person actions"}
            = action_button '<i class="bi bi-plus-circle"></i> '.html_safe + '<span class="d-none d-sm-inline ms-1">'.html_safe + t('people_module.add_person') + '</span>'.html_safe, new_person_path, title: t('people_module.add_person_hint'), class: "btn btn-primary"
  %ul.nav.nav-tabs
    %li.nav-item
      = link_to t('this_conference'), people_path, class: 'nav-link active'
    %li.nav-item
      = link_to t('speakers'), speakers_people_path, class: 'nav-link'
    %li.nav-item
      = link_to t('people_module.all_people'), all_people_path, class: 'nav-link'
  - if params[:term].blank? and @people.all.empty?
    .row
      .col-md-12
        .blank-slate
          - if Person.count <= 1
            %p= raw(markdown_render(t('people_module.no_people_data')))
          - else
            %p= raw(markdown_render(t('people_module.no_people_involved')))
  - else
    = render 'shared/search_and_table', collection: @people
