= block do
  .secondary-navigation
    %ul.wat-cf
      %li.active.first= link_to "Profile", @person
      %li= link_to "User account", person_user_path(@person)
  = content do
    = inner do
      %h3 Basic information
      %span.right
        = image_box @person.avatar, :large
      %p
        %b First name:
        = @person.first_name
      %p
        %b Last name:
        = @person.last_name
      %p
        %b Public name:
        = @person.public_name
      %p
        %b Gender:
        = @person.gender
      %h3 Contact information
      %p
        %b Email:
        = mail_to @person.email
        (#{@person.email_public ? "public" : "non-public"})
      - @person.phone_numbers.each do |phone_number|
        %p
          %b
            Phone number (#{phone_number.phone_type}):
          = phone_number.phone_number
      - @person.im_accounts.each do |im_account|
        %p
          %b
            = im_account.im_type
            \:
          = im_account.im_address
      %h3 Bio
      %p
        %b Abstract:
        = simple_format @person.abstract
      %p
        %b Description:
        = simple_format @person.description
      %p
        %b Links:
        %br/
        - @person.links.each do |link|
          = link_to link.title, link.url
          %br/
      - unless @current_events.empty?
        %h3 Events in current conference
        = render "events/table", :events => @current_events
      - unless @other_events.empty?
        %h3 Events in other conferences
        = render "events/table", :events => @other_events
- content_for :sidebar do
  = actions_block do
    = action_button "application_edit", "Edit person", edit_person_path(@person)
