<%= block do %>
  <%= content do %>
    <%= inner do %>
      <p>
        <b>First name:</b>
        <%= @person.first_name %>
      </p>

      <p>
        <b>Last name:</b>
        <%= @person.last_name %>
      </p>

      <p>
        <b>Public name:</b>
        <%= @person.public_name %>
      </p>

      <p>
        <b>Email:</b>
        <%= @person.email %>
      </p>

      <p>
        <b>Email public:</b>
        <%= @person.email_public %>
      </p>

      <p>
        <b>Gender:</b>
        <%= @person.gender %>
      </p>

      <p>
        <b>Abstract:</b>
        <%= @person.abstract %>
      </p>

      <p>
        <b>Description:</b>
        <%= @person.description %>
      </p>


      <%= link_to 'Edit', edit_person_path(@person) %> |
      <%= link_to 'Back', people_path %>
    <% end %>
  <% end %>
<% end %>

<% content_for :sidebar do %>
  <%= block do %>
    <h3><%= @person.full_name %></h3>
    <%= content do %>
      <p>
        <%= image_box @person.avatar, :large %>
        <p>
          <b>First name:</b>
          <%= @person.first_name %>
        </p>

        <p>
          <b>Last name:</b>
          <%= @person.last_name %>
        </p>

        <p>
          <b>Public name:</b>
          <%= @person.public_name %>
        </p>

        <p>
          <b>Email:</b>
          <%= mail_to @person.email %>
        </p>
      </p>
    <% end %>
  <% end %>
<% end %>
