<%= block do %>
  <%= content do %>
    <%= inner do %>
      <h3>Basic information</h3>
      <p>
        <b>First name:</b>
        <%= @person.first_name %>
      </p>

      <p>
        <b>Last name:</b>
        <%= @person.last_name %>
      </p>

      <p>
        <b>Public name:</b>
        <%= @person.public_name %>
      </p>

      <p>
        <b>Gender:</b>
        <%= @person.gender %>
      </p>

      <h3>Contact information</h3>
      <p>
        <b>Email:</b>
        <%= mail_to @person.email %> (<%= @person.email_public ? "public" : "non-public" %>)
      </p>

      <% @person.phone_numbers.each do |phone_number| %>
      <p>
        <b>Phone number (<%= phone_number.phone_type %>):</b>
        <%= phone_number.phone_number %>
      </p>
      <% end %>

      <% @person.im_accounts.each do |im_account| %>
      <p>
        <b><%= im_account.im_type %>:</b>
        <%= im_account.im_address %>
      </p>
      <% end %>
      
      <h3>Bio</h3>
      <p>
        <b>Abstract:</b>
        <%= simple_format @person.abstract %>
      </p>

      <p>
        <b>Description:</b>
        <%= simple_format @person.description %>
      </p>


      <p>
        <b>Links:</b> <br />
        <% @person.links.each do |link| %>
          <%= link_to link.title, link.url %> <br />
        <% end %>
      </p>

      <% unless @current_events.empty? %>
      <h3>Events in current conference</h3>

      <%= render "events/events_table", :events => @current_events %>
      <% end %>

      <% unless @other_events.empty? %>
      <h3>Events in other conferences</h3>

      <%= render "events/events_table", :events => @other_events %>
      <% end %>

    <% end %>
  <% end %>
<% end %>

<% content_for :sidebar do %>

  <%= actions_block do %>
    <%= action_button "application_edit", "Edit person", edit_person_path(@person) %>
  <% end %>

  <%= block do %>
    <h3><%= @person.full_name %></h3>
    <%= content do %>
      <p>
        <%= image_box @person.avatar, :large %>
        <p>
          <b>First name:</b>
          <%= @person.first_name %>
        </p>

        <p>
          <b>Last name:</b>
          <%= @person.last_name %>
        </p>

        <p>
          <b>Public name:</b>
          <%= @person.public_name %>
        </p>

        <p>
          <b>Email:</b>
          <%= mail_to @person.email %>
        </p>
      </p>
    <% end %>
  <% end %>

  <%= block do %>
    <h3>Account</h3>
    <%= content do %>
      <% if @person.user %>
        <%= action_button "application_edit", "Edit", edit_person_user_path(@person) %>
      <% else %>
        <p>
          This person does not have a user account attached.
          If you want this person to be able to log in, please
          create an account.
        </p>
        <%= action_button "add", "Create", new_person_user_path(@person) %>
      <% end %>
    <% end %>
  <% end %>
<% end %>
