= block do
  .secondary-navigation
    %ul.wat-cf
      %li.first= link_to "This conference", people_path
      %li.active= link_to "Speakers", speakers_people_path
      %li= link_to "All people", all_people_path
  = content do
    %h2 Listing speakers 
    = inner do
      = render 'shared/simple_search', :path => request.path
      = render 'table'
      = actions_bar do
        = will_paginate @people
- content_for :sidebar do
  = actions_block do
    = action_button "add", "Add person", new_person_path
    = action_button "page_white_text", "Download email list", speakers_people_path(:format => :text)
