%section
  .page-header
    .pull-right
      - if can? :manage, :person
        = action_button "primary", "Add person", new_person_path, :title => "Add a new person."
    %h1 List of people
  %ul.tabs
    %li= link_to "This conference", people_path
    %li.active= link_to "Speakers", speakers_people_path
    %li= link_to "All people", all_people_path
  .row
    .span16
      = render 'shared/simple_search', :path => request.path
  .row
    .span16
      - if @people.all.empty?
        %p Sorry, but your search yielded no results.
      - else  
        = render 'table', :events => @people 
        = will_paginate @people 
