%h2.title= t '.feedback_for', :title => @event.title

%p= t '.please_let_us_know'

= semantic_form_for(@feedback, :url => public_event_feedback_path(:event_id => @event.id)) do |f|
  = f.inputs do
    = f.input :rating, :as => :radio, :collection => 1..5, :hint => t('.how_would_you_rate')
    = f.input :comment, :input_html => {:rows => 4}, :hint => t('.what_did_you_like')
  = f.buttons do
    = f.commit_button t('.submit_feedback')
