- content_for :title do
  = "Feedback | #{schedule_title}"

%h2.title= t '.thank_you'

.column
  %p= t '.thank_you_for_helping_us'

  %p
    - if @conference.program_export_base_url.present?
      = link_to t('.return'), public_program_event_url(@event)
    - else
      = link_to t('.return'), public_schedule_path(day: @conference.day_at(@event.start_time))
