%section
  .page-header
    .pull-right
      - if available_conference_locales.size > 1
        %ul.pills
          - available_conference_locales.each do |locale|
            %li{:class => (I18n.locale.to_s == locale.to_s) ? "active" : ""}
              = link_to locale.to_s, url_for( :locale => locale )
    %h1
      = @conference.title
      \- Call for Participation
  .row
    .span16
      = render "shared/flash", :flash => flash
      - if @conference.call_for_participation.welcome_text
        %p
          = simple_format @conference.call_for_participation.welcome_text
      - else
        %p=t("cfp.welcome_text", :title => @conference.title)
  .row
    .span8
      %h2=t("cfp.login_existing_headline")
      %p=t("cfp.login_existing_description")
      = simple_form_for @user, url: cfp_session_path do |f|
        %fieldset.inputs
          = f.input :email
          = f.input :password
          - if false
            = f.input :remember_me, as: :inline_boolean
        .actions
          = f.button :submit, t("cfp.sign_in"), class: 'primary'
    .span8
      %h2=t("cfp.sign_up_headline")
      %p=t("cfp.sign_up_description", :title => @conference.title)
      %p= action_button "", t("cfp.sign_up"), new_cfp_user_path
  .row
    .span8
      %h2=t("cfp.forgot_password_headline")
      %p=t("cfp.forgot_password_description")
      = action_button "", t("cfp.forgot_password_button"), new_cfp_user_password_path
    .span8
      %h2=t("cfp.confirmation_headline")
      %p=t("cfp.confirmation_description")
      = action_button "", t("cfp.confirmation_button"), new_cfp_user_confirmation_path
