= block do
  %h2
    = @conference.title
    \- Call for Papers
    - if available_conference_locales.size > 1
      %span.language_switcher
        - available_conference_locales.each do |locale|
          = link_to locale.to_s, url_for( :locale => locale )
  = content do
    = render "shared/flash", :flash => flash
    - if @conference.call_for_papers.welcome_text
      %p!= @conference.call_for_papers.welcome_text
    - else
      %p=t("cfp.welcome_text", :title => @conference.title)
    %h3=t("cfp.login_existing_headline")
    %p=t("cfp.login_existing_description")
    = semantic_form_for @user, :url => cfp_session_path do |f|
      = f.inputs do
        = f.input :email
        = f.input :password
        - if false 
          = f.input :remember_me, :as => :boolean
      = f.buttons do
        = f.commit_button t("cfp.sign_in"), :button_html => {:icon => "key", :class => :button}
    %h3=t("cfp.sign_up_headline") 
    %p=t("cfp.sign_up_description", :title => @conference.title)
    %p= action_button "user_edit", t("cfp.sign_up"), new_cfp_user_path
    .clear
    %h3=t("cfp.forgot_password_headline")
    %p=t("cfp.forgot_password_description") 
    = action_button "email", t("cfp.forgot_password_button"), new_cfp_user_password_path
    .clear
    %h3=t("cfp.confirmation_headline") 
    %p=t("cfp.confirmation_description")
    = action_button "email", t("cfp.confirmation_button"), new_cfp_user_confirmation_path
    .clear
