%section
  .page-header
    %h1 Event: #{@event.title}
  %ul.tabs
    %li= link_to "Event Details", @event
    %li= link_to "People", people_event_path(@event)
    %li= link_to "Ratings", event_event_rating_path(@event)
    %li.active= link_to "Feedback", event_event_feedbacks_path(@event)
  - if @event_feedbacks.all.empty?
    .row
      .span16
        .blank-slate
          %p
            There is no attendee feedback for this event yet.
          %p
            Enable attendee feedback in the conference
            settings and the web program schedule will include a
            form for your attendees to provide feedback. This
            feedback will appear here.
  - else
    .row
      .span16
        %p
          %b Average Feedback:
          %b= number_with_precision @event.average_feedback, :precision => 2
          - if @event.event_feedbacks_count
            %br
            s<sub>N-1</sub> = #{@event.feedback_standard_deviation} n = #{@event.event_feedbacks_count}
        %h2 Comments
        %table.zebra-striped
          %thead
            %tr
              %th Rating
              %th Comment
          %tbody
            - @event_feedbacks.each do |feedback|
              - next if feedback.comment.blank?
              %tr
                %td
                  .rating{:id => "event_rating_#{feedback.id}", :"data-rating" => feedback.rating}
                %td= feedback.comment

:javascript
  $(document).ready(function(){
    $(".rating").each(function(index) {
      $(this).raty({
        readOnly: true,
        path: "",
        starOn: '#{raty_icon_path("on")}',
        starHalf: '#{raty_icon_path("half")}',
        starOff: '#{raty_icon_path("off")}',
        half: true,
        start: $(this).data('rating')
      });
    });
  });
