= block do
  %h2 Edit Account
  = content do
    = semantic_form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f|
      = f.inputs do
        = f.input :email
        = f.input :password, :hint => "leave blank if you don't want to change it"
        = f.input :password_confirmation
        = f.input :current_password, :hint => "we need your current password to confirm your changes"
      = f.buttons do
        = f.commit_button "Update", :button_html => {:class => "button", :icon => "tick"}
    = link_to "Back", :back
