<%= block do %>
  <h2><%= @conference.title %> Sign up</h2>

  <%= content do %>
    <%= semantic_form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>

      <%= f.inputs do %>
        <%= f.input :email %>
        <%= f.input :password %>
        <%= f.input :password_confirmation %>
      <% end %>

      <%= f.buttons do %>
        <%= f.commit_button "Sign up", :button_html => {:class => "button", :icon => "tick"} %>
      <% end %>
    <% end %>

    <%= render :partial => "devise/shared/links" %>

  <% end %>
<% end %>
