- content_for :title do
  = link_to t('page_titles.unlock_instructions'), root_url, class: 'navbar-brand'

%section
  .page-header
    %h1= t('titles.unlock_instructions')

  .row
    .col-md-12
      = simple_form_for(resource, as: resource_name, url: unlock_path(resource_name), html: { method: :post }, defaults:{error: false}) do |f|

        %div{class: "alert alert-danger alert-dismissible fade show", role: :alert}
          = render partial: 'devise/shared/error_messages', resource: resource

        %fieldset.inputs
          = f.input :email

        .actions
          = f.button :submit, class: 'btn btn-primary', value: t('devise.resend_unlock_instructions')

= render "devise/shared/links"
