- content_for :track_menu do
  - tracks_to_show = defined?(@tracks_with_events) ? @tracks_with_events : @conference.tracks_including_subs.includes(:events)
  - if tracks_to_show.any?
    .card.border-0.shadow-sm.mb-4.schedule-main-card
      .card-header.bg-secondary.text-white
        %h6.mb-0
          %i.bi.bi-tags.me-2
          = t('tracks')
      .card-body
        .d-flex.flex-wrap.gap-2
          - tracks_to_show.sort_by { |e| e.name }.each do |track|
            .col-auto
              %a.btn.btn-outline-primary.btn-sm{href: "##{track.name.downcase}", class: "track-#{track.name.parameterize}"}
                %i.bi.bi-tag.me-1
                = track.name
                %span.badge.bg-primary.ms-1= track.events.count


