= render partial: 'track_menu'

%h2
  - if @conference.days.length > 1
    = t '.schedule_for_day', index: @day_index, label: l(@view_model.day.date)
  - else
    = t '.schedule', label: l(@view_model.day.date)

- if @view_model.room_slice_names.count > 1
  .event-navigation
    %p= t('col_rooms')
    %ul
      - count_rooms = 0
      - @view_model.room_slice_names.each do |rooms|
        %li
          %a{ href: "\##{count_rooms}"}= rooms.join(', ')
          - count_rooms =+ 1

%br.clear/
#main-table

  - count = 0
  - @view_model.room_slices do |rooms|
    #conference-rooms{ id: count }
      - if @view_model.room_slice_names.count > 1
        %hr
        %h2= @view_model.room_slice_names[count].join(', ')
        %a{ name: "#{count}"}
        - count =+ 1
      %table.rooms-table
        %thead
          %tr
            %th.cell-time
            - rooms.each do |room|
              %th= room.name
        %tbody
          - slot = 0
          - each_timeslot do |time|
            %tr.cell-height1
              %td.cell-time
                - if slot % @conference.default_timeslots == 0
                  %p= time.strftime("%H:%M")

              - rooms.each do |room|
                - @view_model.skip_rows[room] -= 1
                - next if @view_model.skip_rows[room] > 0
                - if not @view_model.events_by_room(room).empty? and @view_model.event_now?(room, time)
                  - event = @view_model.events_by_room(room).shift
                  - @view_model.skip_rows[room] = event.time_slots
                  %td{rowspan: event.time_slots, class: "cell-height#{event.time_slots}"}
                    .event{class: track_class(event)}
                      .event-wrapper
                        .event-header
                          %h2= link_to event.title, public_event_path(id: event.id)
                        .event-details
                          .subtitle
                            = event.subtitle
                            - if @conference.languages_including_subs.count > 1
                              = "(#{event.language})"
                          .speakers= event.speakers.map{|p| link_to(h(p.public_name), public_speaker_path(id: p.id))}.join(", ").html_safe
                - else
                  %td &nbsp;
            - slot += 1
