- content_for :track_menu do
  %p.tracks Tracks:
  %ul.tracks
    - @conference.tracks.sort_by{|e| e.name }.each do |track|
      %li
        .event{class: "track-#{track.name.parameterize}", href: "\##{track.name.downcase}" }= track.name

%h2
  - if @conference.days.length > 1
    = t '.schedule_for_day', index: @day_index+1, label: l(@day.date)
  - else
    = t '.schedule', label: l(@day.date)

%p.rooms
  Rooms:
  %ul.rooms
    - count_rooms = 0
    - @rooms.each_slice(7).map{|r| r.map{|n| n.name} }.each do |rooms|
      %li
        %a{ href: "\##{count_rooms}"}= rooms.join(', ')
        - count_rooms =+ 1

%br.clear/
#main-table

  - count = 0
  - @rooms.each_slice(7) do |rooms|
    #conference-rooms{ id: count }
      %a{ name: "#{count}"}
      - count =+ 1
      %table.rooms-table
        %thead
          %tr
            %th.cell-time
            - rooms.each do |room|
              %th= room.name
        %tbody
          - slot = 0
          - each_timeslot do |time|
            %tr.cell-height1
              %td.cell-time
                - if slot % @conference.default_timeslots == 0
                  %p= time.strftime("%H:%M")
              - rooms.each do |room|
                - @skip_row[room] -= 1
                - next if @skip_row[room] > 0
                - if not @events[room].empty? and @events[room].first.start_time == time
                  - event = @events[room].shift
                  - @skip_row[room] = event.time_slots
                  %td{rowspan: event.time_slots, class: "cell-height#{event.time_slots}"}
                    .event{class: track_class(event)}
                      .event-wrapper
                        .event-header
                          %h2= link_to event.title, public_event_path(id: event.id)
                        .event-details
                          .subtitle
                            = event.subtitle
                            - if @conference.languages.count > 1
                              = "(#{event.language})"
                          .speakers= event.speakers.map{|p| link_to(h(p.public_name), public_speaker_path(id: p.id))}.join(", ").html_safe
                - else
                  %td &nbsp;
            - slot += 1
