%h2 Schedule for Day #{@day_index} - #{@day}
%br.clear/
#pagination
#main-table
  %table#time-line
    %tr
      %td#top-left
    - each_time_slot_of(@day) do |time| 
      %tr.cell-height1
        / %td.cell.cell-height1
        %td.cell
          - if time.min % 15 == 0
            %p= time.to_s(:time)
  #conference-rooms
    %table.rooms-table{:style => "width: #{@rooms.size * 200}px;"}
      %thead
        - @rooms.each do |room|
          %th= room.name
      %tbody
        - each_time_slot_of(@day) do |time|
          %tr.cell-height1
            - @rooms.each do |room|
              - @skip_row[room] -= 1
              - next if @skip_row[room] > 0
              - if not @events[room].empty? and @events[room].first.start_time == time
                - event = @events[room].shift
                - @skip_row[room] = event.time_slots 
                %td{:rowspan => event.time_slots, :class => "cell-height#{event.time_slots}"}
                  .event{:class => track_class(event)}
                    .event-wrapper
                      .event-header
                        %h2= link_to event.title, public_event_path(:id => event.id)
                      .event-details
                        %p
                          .subtitle= event.subtitle
                          .speakers= event.speakers.map{|p| link_to(h(p.full_public_name), public_speaker_path(:id => p.id))}.join(", ").html_safe
              - else
                %td &nbsp;
= javascript_include_tag "public_schedule"
