- no_tracks = @conference.tracks.empty?

%h2.title= t '.events'

%table.list
  %thead
    %tr
      %th &nbsp;
      %th= t '.title'
      - unless no_tracks
        %th= t '.track'
      %th= t '.speakers'
  %tbody
    - @events.each do |event|
      %tr
        %td= link_to image_box(event.logo, :small), public_event_path(:id => event.id)
        %td
          %b= link_to event.title, public_event_path(:id => event.id)
          %br/
          = truncate(event.abstract, length: 80, separator: ' ')
        - unless no_tracks
          %td= event.track.try(:name)
        %td
          %ul
            - event.speakers.each do |speaker|
              %li= link_to speaker.public_name, public_speaker_path(:id => speaker.id)
