%h2.title= t '.speakers'

%table.list
  %thead
    %tr
      %th &nbsp;
      %th= t '.name'
      %th= t '.events'
  %tbody
    - @speakers.each do |speaker|
      %tr
        %td= link_to image_box(speaker.avatar, :small), public_speaker_path(:id => speaker.id)
        %td= link_to speaker.public_name, public_speaker_path(:id => speaker.id)
        %td
          %ul
            - speaker.public_and_accepted_events_as_speaker_in(@conference).each do |event|
              %li= link_to event.title, public_event_path(:id => event.id)
