= render 'track_menu'

%h2.title= t '.events'

= render 'day_menu'

- @view_model.events_by_day.each do |day, start_times|
  %a{name: "day#{day.id}"}
  %h2= l(day.start_date, format: :day)
  %hr
  - start_times.sort.each do |start_time, events|
    .event-time
      %h3= start_time.strftime("%H:%M")

    .event-list
      - if events.count >  0
        - events.sort_by { |a| [a.track&.name ? 1 : 0, a.track&.name] }.each do |event|
          .event{class: track_class(event)}
            .event-wrapper
              .event-header
                %h2= link_to event.title, public_event_path(id: event.id)
              .event-details
                .subtitle
                  = event.subtitle
                %i
                  = event.room&.name
                  - if @conference.languages_including_subs.count > 1
                    = "(#{event.language})"

    %br.clear
