= simple_form_for(@user, url: person_user_path(@person)) do |f|
  %fieldset.inputs
    = f.input :email
    = f.input :password
    = f.input :password_confirmation
    - if can? :assign_roles, User
      = f.input :role, :as => :radio_buttons, :collection => User::ROLES
    - elsif cannot? :assign_roles, User and can? :assign_user_roles, User
      = f.input :role, :as => :radio_buttons, :collection => User::USER_ROLES
    - if can? :assign_user_roles, User
      - if @user.is_crew?
        = dynamic_association :conference_users, t(:conference_user), f
      - else
        %p.inline-hint You need to save before adding conferences to a crew member.
  .actions
    = f.button :submit, class: 'primary'
    = link_to "Cancel", :back, :class => "btn"
