= simple_form_for(@user, url: crew_user_path(@person)) do |f|
  %fieldset.inputs
    = f.input :email
    = f.input :password
    = f.input :password_confirmation

    - if current_user.is_admin?
      = f.input :role, as: :radio_buttons, collection: translated_options(User::ROLES)
    - elsif policy(Conference).manage?
      = f.input :role, as: :radio_buttons, collection: translated_options(User::USER_ROLES)

    - if policy(Conference).manage?
      - if @user.is_crew?
        = dynamic_association :conference_users, t('activerecord.models.conference_user'), f
      - else
        %p.inline-hint= t('users_module.save_needed_before_changes')

  .actions
    = f.button :submit, class: 'primary'
    = link_to t('cancel'), :back, class: "btn"
