<%= block do %>
  <%= content do %>
    <h2>Editing account of <%= @person.full_name %></h2>
    <%= inner do %>

      <%= render 'form' %>

      <%= link_to 'Back', @person %>

    <% end %>
  <% end %>
<% end %>
