%section
  .page-header
    %h1 Create account for #{@person.full_name}
  = render 'shared/people_tabs'
  .row
    .span16
      = content do
        = inner do
          %p
            #{@person.full_name} does not currently have a user account and thus cannot login.
            You can create a user account right now by filling out this form.
          = render 'form'
