<%= block do %>
  <%= content do %>
    <h2>Create account for <%= @person.full_name %></h2>

    <%= inner do %>
      
      <%= render 'form' %>

      <%= link_to 'Back', @person %>

    <% end %>
  <% end %>
<% end %>
