%section
  .page-header
    .pull-right
      = action_button "primary", "Edit user account", edit_person_user_path(@person), title: "Edit this user account."
    %h1 Person: #{@person.full_name}
  = render 'shared/people_tabs'
  .row
    .span16
      %p
        %b Email for login:
        = @user.email
      %p
        %b Role:
        = @user.role
      -if @user.is_crew? and @user.conference_users.empty?
        %p
          This user is not yet part of any conference crew.
      -elsif @user.is_crew?
        %ul
          - @user.conference_users.each do |cu|
            %li= cu.conference.acronym + " - " + cu.role
      %p
        %b Last login:
        = @user.last_sign_in_at
