- content_for :title do
  = link_to t('page_titles.change_password'), root_url, class: 'brand'

%section
  .page-header
    %h1= t('titles.change_your_password')

  .row
    .span16
      = simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }, defaults:{error: false}) do |f|

        = devise_error_messages!

        %fieldset.inputs
          = f.hidden_field :reset_password_token
          - if @minimum_password_length
            = f.input :password, autocomplete: 'off', hint: t('inputs.hints.password_length', {length: @minimum_password_length})
          - else
            = f.input :password, autocomplete: 'off'


        .actions
          = f.button :submit, class: 'primary', value: t('session.update_password')

= render "devise/shared/links"
