= simple_form_for(@conference, url: conference_path) do |f|
  - @conference.build_ticket_server unless @conference.ticket_server
  = f.simple_fields_for :ticket_server do |ts|
    = ts.input :url, hint: t('tickets.inputs.hints.url')
    = ts.input :queue, hint: t('tickets.inputs.hints.queue')
    = ts.input :user, hint: t('tickets.inputs.hints.user')
    = ts.input :password, hint: t('tickets.inputs.hints.password')

  .actions
    = f.button :submit, class: 'primary'
