= semantic_form_for(@conference, :url => conference_path) do |f|
  = f.inputs "Basic information" do
    = f.input :title
    = f.input :acronym
    = f.input :email, :hint => "Contact email address for your conference. Will be used as sender address in emails sent out by the system."
  = f.inputs "Schedule configuration" do
    = f.input :timezone, :as => :time_zone
    = f.input :first_day
    = f.input :last_day
    = f.input :timeslot_duration, :as => :select, :collection => timeslot_durations
    = f.input :default_timeslots, :as => :select, :collection => 1..20
    = f.input :max_timeslots, :as => :select, :collection => 1..100
  = dynamic_association :languages, "Languages", f
  = dynamic_association :tracks, "Tracks", f
  = dynamic_association :rooms, "Rooms", f
  = f.inputs "Feedback system" do
    = f.input :feedback_enabled
  = f.buttons do
    = f.commit_button :button_html => {:class => "button", :icon => "tick"}
