.nested-fields.notification
  %fieldset.border.p-3.mb-4{ data: { controller: "notifications", "notifications-url-value": conferences_default_notifications_path(conference_acronym: @conference.acronym) } }
    = f.input :locale, as: :select, collection: available_locales(@conference), hint: t('notifications_module.inputs.hints.locale'), input_html: { data: { "notifications-target": "select" } }
    = f.input "accept_subject", input_html: { data: { "notifications-target": "acceptSubject" } }
    = f.input "accept_body", as: :text, input_html: { data: { "notifications-target": "acceptBody" } }
    = f.input "reject_subject", input_html: { data: { "notifications-target": "rejectSubject" } }
    = f.input "reject_body", as: :text, input_html: { data: { "notifications-target": "rejectBody" } }
    = f.input "schedule_subject", input_html: { data: { "notifications-target": "scheduleSubject" } }
    = f.input "schedule_body", as: :text, input_html: { data: { "notifications-target": "scheduleBody" } }
    .d-flex.justify-content-end.gap-3
      = button_tag t('default_text'), type: 'button', class: 'btn btn-primary btn-sm', data: { action: "click->notifications#loadDefaults" }
      = remove_association_link :notification, f
