.nested-fields
  %fieldset.inputs
    = f.input :name
    = f.input :size, input_html: { size: 5 }
    = f.input :rank, input_html: { size: 3 }
    = f.input :public, as: :boolean
    = remove_association_link :room, f
