%table.zebra-striped
  %thead
    %tr
      %th.first
      - if @search
        %th= sort_link @search, :acronym, term: params[:term]
        %th= sort_link @search, :title, term: params[:term]
        %th= sort_link @search, :created_at, term: params[:term]
        %th= sort_link @search, :email, term: params[:term]
      - else
        %th= Conference.human_attribute_name('acronym')
        %th= t('title')
        %th= t('created_at')
        %th= t('email')
      %th.last
  %tbody
    - collection.each do |conference|
      %tr
        %td
        %td= conference.acronym
        %td= conference.title
        %td= l(conference.created_at.to_date)
        %td= conference.email
        %td.buttons
          - if policy(conference).read?
            = action_button "small", t('show'), conference_path(conference_acronym: conference.acronym)
          - if policy(conference).destroy?
            = action_button "small danger", t('destroy'), conference_path(conference_acronym: conference.acronym), data: { confirm: t('are_you_sure') }, method: :delete
