%table.zebra-striped
  %thead
    %tr
      %th.first
      - if @search
        %th= sort_link @search, :acronym, term: params[:term]
        %th= sort_link @search, :title, term: params[:term]
        %th= sort_link @search, :created_at, term: params[:term]
        %th= sort_link @search, :email, term: params[:term]
      - else
        %th Acronym
        %th Title
        %th Date
        %th Email
      %th.last
  %tbody
    - collection.each do |conference|
      %tr
        %td
        %td= conference.acronym
        %td= conference.title
        %td= l(conference.created_at.to_date)
        %td= conference.email
        %td.buttons
          - if policy(conference).read?
            = action_button "small", t('show'), conference_path(conference_acronym: conference.acronym)
          - if policy(conference).destroy?
            = action_button "small danger", 'Destroy', conference_path(conference_acronym: conference.acronym), data: { confirm: 'Are you sure?' }, method: :delete
