= f.inputs do
  = f.input :url, :hint => "URL of your ticket system, for example https://localhost/otrs/"
  = f.input :queue, :hint => "Name of this events queue"
  = f.input :user, :hint => "Username used to create tickets"
  = f.input :password, :hint => "Password used to log into ticket system"
