<%= block do %>
  <%= content do %>
    <h2>Editing conference</h2>

    <%= inner do %>
      <%= render 'form' %>

      <%= link_to 'Show', @conference %> |
      <%= link_to 'Back', conferences_path %>
    <% end %>

  <% end %>

<% end %>
