%section
  .page-header
    %h1= t :edit_conference_tracks
  %ul.tabs
    %li= link_to t(:settings), edit_conference_path
    %li= link_to t(:days), edit_days_conference_path
    %li.active= link_to t(:tracks), edit_tracks_conference_path
    %li= link_to t(:rooms), edit_rooms_conference_path
    %li= link_to t(:schedule), edit_schedule_conference_path
    - if @conference.is_ticket_server_enabled?
      %li= link_to t(:ticket_server), edit_ticket_server_conference_path
  - if @conference.tracks.empty?
    .row
      .span16
        .blank-slate
          %p
            If you organize your conference into different tracks,
            this is the place to create them. Even if you do not
            have more than one track, go ahead and enter this
            one track.
          %p
            Tracks have a name and a color. The color is used in
            the web based program, so feel free to customize it
            as much as you wish.
  .row
    .span16
      = render 'form_tracks'

:coffeescript
  $ ->
    $("a.add_fields").data("insertion-callback", (node) ->
      addColorPickers()
    )
