= block do
  .secondary-navigation
    %ul.wat-cf
      %li.first= link_to "Settings", edit_conference_path
      %li= link_to "Tracks", edit_tracks_conference_path
      %li= link_to "Rooms", edit_rooms_conference_path
      %li.active= link_to "Ticket Server", edit_ticket_server_conference_path
  = content do
    %h2 Editing Ticket Server
    = inner do
      = render 'form_ticket_server'
