%section
  .page-header
    %h1= t :edit_conference_rooms
  = render partial: 'tabs', locals: { active: :rooms }

  - if @conference.sub_conference? && !policy(@conference).manage?
    .row
      .col-md-12
        .blank-slate
          %p= t('rooms_modules.modify_room_with_parent', parent: @conference.parent.title)

          %p= t('rooms_module.configured_rooms')

          %ul
            - @conference.rooms.each do |room|
              %li
                ="#{room.name} (size: #{room.size})"

  -else
    - if @conference.rooms.empty?
      .row
        .col-md-12
          .blank-slate
            %p= t('rooms_module.empty_rooms')
    .row
      .col-md-12
        = render 'form_rooms'
