%section
  .page-header
    .d-flex.flex-wrap.gap-2
      = action_button '<i class="bi bi-eye"></i> '.html_safe + schedule_button_text, public_schedule_index_path(lang: @conference.language_default), hint: t('schedule_module.view_live_version_hint'), class: "btn btn-secondary"
      - @conference.language_codes[1..-1].each do |lang|
        = action_button '<i class="bi bi-eye"></i> '.html_safe + "#{lang}", public_schedule_index_path(lang: lang), hint: t('schedule_module.view_live_version_hint'), class: "btn btn-secondary"
      = action_button '<i class="bi bi-file-pdf"></i> '.html_safe + t('schedule_module.create_pdf_export'), new_schedule_pdf_path, hint: t('schedule_module.create_pdf_export_hint'), class: "btn btn-secondary"
      = action_button '<i class="bi bi-upload"></i> '.html_safe + t('schedule_module.publish_html_export'), schedule_html_exports_path, hint: t('schedule_module.publish_html_export_hint'), class: "btn btn-success"
    %h1= t('schedule')

  = render 'shared/event_scheduler'
