%section
  .page-header
    %h1 Create a custom PDF export
  .row
    .span16
      = form_tag schedule_custom_pdf_path do
        .clearfix
          = label_tag "page_size", "Select paper format:"
          .input
            = select_tag "page_size", options_for_select(Prawn::Document::PageGeometry::SIZES.keys.sort)
        .clearfix
          = label_tag "date_id", "Select day:"
          .input
            = select_tag "date_id", options_from_collection_for_select(@conference.days, "id", "label")
        .clearfix
          = label_tag "room_ids[]", "Select rooms:"
          .input
            %ul.inputs-list
              - @conference.rooms.each do |room|
                %li
                  %label
                    = check_box_tag "room_ids[]", room.id
                    .span= room.name
        .actions
          = submit_tag "Create PDF", class: "btn primary"
      .clear
