- day_id = "day_" + day.id.to_s
%span{ id: day_id }
  %h3
    = t('availabilities.available_from')
    %span.start_date
      = l day.start_date, format: :pretty_datetime
    = t('availabilities.available_to')
    %span.end_date
      = l day.end_date, format: :pretty_datetime

  = f.simple_fields_for :availabilities, availability do |af|
    = af.input :start_date, as: :hidden
    = af.input :end_date, as: :hidden
    = af.input :conference_id, as: :hidden
    = af.input :day_id, as: :hidden
    %span
      .time_range_slider{"data-min" => day.start_date.to_i,
                         "data-max" => day.end_date.to_i,
                         "data-from" => availability.start_date.to_i,
                         "data-to" => availability.end_date.to_i}
    %span
      = check_box_tag t('availabilities.alerts.available_for_day', {day: day.label}), '1', false, class: 'cbx'
    = t('available')

