.nested-fields
  %fieldset.inputs
    - if f.object.new_record?
      = f.input :title
      = f.input :public, as: :inline_boolean, hint: t('events_module.public_attachment_hint')
      = f.input :attachment
    - else
      = f.input :title
      = f.input :public, as: :inline_boolean, hint: t('events_module.public_attachment_hint')
      .input
        = link_to f.object.attachment_file_name, f.object.attachment.url, style: 'float:left'
    = remove_association_link :event_attachment, f
