.nested-fields
  %fieldset.inputs
    - if f.object.new_record?
      = f.input :title
      = f.input :public, as: :inline_boolean, hint: "Is this attachment visible to the public?"
      = f.input :attachment
    - else
      = f.input :title
      = f.input :public, as: :inline_boolean, hint: "Is this attachment visible to the public?"
      .input
        = link_to f.object.attachment_file_name, f.object.attachment.url, style: 'float:left'
    = remove_association_link :event_attachment, f
