%li.nav-item.dropdown
  = link_to '#', id: 'accountDropdown', class: 'nav-link dropdown-toggle', 'data-bs-toggle': 'dropdown', 'aria-expanded': 'false', 'aria-haspopup': 'true' do
    %i.bi.bi-person-circle
    = t('show_account', default: 'Account')
  %ul.dropdown-menu{'aria-labelledby': 'accountDropdown'}
    %li
      %span.dropdown-item-text.text-muted.small
        %i= humanized_access_level
    %li
      %hr.dropdown-divider
    %li
      = link_to edit_crew_profile_path(current_user), class: 'dropdown-item' do
        %i.bi.bi-person
        = t('edit_profile', default: 'Profile')
    %li
      = link_to edit_crew_user_path(current_user.person), class: 'dropdown-item' do
        %i.bi.bi-gear
        = t('user_settings', default: 'Settings')
    %li
      = link_to 'https://github.com/frab/frab/wiki/Manual', class: 'dropdown-item' do
        %i.bi.bi-book
        = t('manual', default: 'Manual')
    %li
      %hr.dropdown-divider
    %li
      = button_to destroy_user_session_path, method: :delete, class: 'dropdown-item' do
        %i.bi.bi-box-arrow-right
        = t('logout', default: 'Logout')
