%ul.tabs
  %li{class: active_class?(person_path(@person), edit_person_path(@person))}= link_to "Profile", @person
  - if can? :crud, @person.user or can? :administrate, User
    - if @person.user.nil?
      %li{class: active_class?(new_person_user_path(@person))}= link_to "User account", new_person_user_path(@person)
    - else
      %li{class: active_class?(person_user_path(@person), edit_person_user_path(@person))}= link_to "User account", person_user_path(@person)
  - if can? :create, @person
    - if @person.availabilities_in(@conference).count == 0
      %li{class: active_class?(new_person_availability_path(@person))}= link_to "Availability", new_person_availability_path(@person)
    - else
      %li{class: active_class?(edit_person_availability_path(@person))}= link_to "Availability", edit_person_availability_path(@person)
  - if can? :administrate, User
    %li{class: active_class?(person_expenses_path(@person))}= link_to "Expenses", person_expenses_path(@person)
  %li{class: active_class?(feedbacks_people_path)}= link_to "Feedback", feedbacks_people_path(id: @person.id)
