.row
  .span16
    = render 'shared/simple_search', path: request.path
.row
  .span16
    - if collection.empty?
      %p= t('reports_module.no_search_results')
    - else
      = render 'table', collection: collection.to_a.uniq
      = actions_bar do
        = will_paginate collection
