%table.zebra-striped
  %thead
    %th.first
    %th= t('activerecord.attributes.day.start_date')
    %th= t('activerecord.attributes.conference.title')
    %th= t(:actions)
  %tbody
    - collection.each do |conference|
      %tr
        %td
          - if conference.logo.present?
            = image_box conference&.logo, :small
        %td
          = l(conference.start_date.to_date)
          \-
          = l(conference.end_date.to_date)
        %td= conference.title
        %td
          - if show_cfp?(current_user, conference)
            = action_button 'small primary', t('participate'), cfp_person_path(conference_acronym: conference.acronym)
          - elsif conference&.call_for_participation&.welcome_text.present?
            = action_button 'small primary', t('activerecord.models.call_for_participation'), cfp_root_path(conference_acronym: conference.acronym)

          - if conference.schedule_public?
            = action_button 'small primary', t('schedule'), public_schedule_index_path(conference_acronym: conference.acronym)
          - if policy(conference).read?
            = action_button 'small secondary', t('show'), conference_path(conference_acronym: conference.acronym)
