<%= block do %>
  <%= content do %>
    <h2>Welcome</h2>

    <%= inner do %>
      
      <h3>Recent changes</h3>

      <%= render "recent_changes/table" %>

      <%= link_to "more", recent_changes_path %>
    <% end %>

  <% end %>

<% end %>

