- content_for :title do
  = link_to 'frab - home', root_url, class: 'brand'

%section
  .page-header
    .pull-right
      - if policy(Conference).new?
        = action_button "primary", "Add conference", new_conference_path, hint: "Add a new conference"
      - if policy(Conference).orga?
        = action_button "primary", "Manage conferences", conferences_path, hint: "Manage all conferences"
        = action_button "secondary", "Search", conferences_path, hint: "Seach conferences"
    %h1 List of conferences

  %ul.tabs
    %li{class: active_class?(root_path)}= link_to "Current Conferences", root_path
    %li{class: active_class?(past_conferences_path)}= link_to "Past Conferences", past_conferences_path

  - if Conference.all.empty?
    .row
      .span16
        .blank-slate
          %p
            There is not a single conference yet.
  - else

    - if @conferences.present?
      = render 'table', collection: @conferences
      = actions_bar do
        = will_paginate @conferences
