= block do
  = content do
    %h2 Welcome
    = inner do
      %h3 Recent changes
      = render "recent_changes/table"
      = link_to "more", recent_changes_path
      %h3 Statistics
      - if @conference.events.count > 0
        %h4 Events by state
        #event_state_graph(style="width:600px;height:300px;")
      - if @conference.languages.count > 1
        %h4 Events by language
        #event_language_graph(style="width:400px;height:300px;")

:coffeescript
  $ ->
    $.ajax(
      url: "#{events_by_state_statistics_path}",
      type: "GET",
      dataType: "json",
      success: (data) ->
        $.plot($("#event_state_graph"), data, {
          series: {
            bars: { show: true, barWidth: 1 }
          },
          xaxis: {
            ticks: [[0.5, "undecided"], [1.5,"accepted"], [2.5, "rejected"], [3.5, "withdrawn/canceled"]]
          }
        })
    )
    $.ajax(
      url: "#{language_breakdown_statistics_path}",
      type: "GET",
      dataType: "json",
      success: (data) ->
        $.plot($("#event_language_graph"), data, {series: {pie: {show: true}}})
    )

