- content_for :title do
  = link_to 'frab - home', root_url, class: 'brand'

%section
  .page-header
    .pull-right
      - if policy(Conference).new?
        = action_button "primary", t('conferences_module.add_conference'), new_conference_path, hint: t('conferences_module.add_conference_hint')
      - if policy(Conference).orga?
        = action_button "primary", t('conferences_module.manage_conferences') , conferences_path, hint: t('conferences_module.manage_conferences_hint')
        = action_button "secondary", t('conferences_module.search'), conferences_path, hint: t('conferences_module.search_hint')
    %h1= t('titles.conferences_list')

  %ul.tabs
    %li{class: active_class?(root_path)}= link_to t('conferences_module.current_conferences'), root_path
    %li{class: active_class?(past_conferences_path)}= link_to t('conferences_module.past_conferences'), past_conferences_path

  - if Conference.all.empty?
    .row
      .span16
        .blank-slate{style: 'padding-bottom: 33%'}
          %p= t('conferences_module.no_conference')

  - elsif @conferences.empty?
    .row
      .span16
        .blank-slate{style: 'padding-bottom: 33%'}
          %p= t('conferences_module.no_conference_with_cfp')

  - else
    = render 'table', collection: @conferences
    = actions_bar do
      = will_paginate @conferences

  %hr

  - content_for :footer do
    .span16= raw(GitHub::Markdown.render(t('frab_footer')))
