%ul.nav.nav-tabs.mb-3
  %li.nav-item
    = link_to t('events_module.all_events'), events_path, class: "nav-link #{(!showing_my_events? && active_class?(events_path)) ? 'active' : ''}"
  %li.nav-item
    = link_to t('events_module.my_events'), my_events_path, class: "nav-link #{(showing_my_events? && active_class?(events_path)) ? 'active' : ''}"
  %li.nav-item
    = link_to t('events_module.attachments_overview'), attachments_events_path, class: "nav-link #{active_class?(attachments_events_path) ? 'active' : ''}"
  %li.nav-item
    = link_to t('events_module.event_ratings'), ratings_events_path, class: "nav-link #{active_class?(ratings_events_path) ? 'active' : ''}"
  - if @conference.feedback_enabled
    %li.nav-item
      = link_to t('events_module.event_feedbacks'), feedbacks_events_path, class: "nav-link #{active_class?(feedbacks_events_path) ? 'active' : ''}"
  