.nested-fields

  %fieldset.inputs
    = f.input :person_filter, hint: t('people_module.inputs.hints.person_filter') do
      = text_field_tag :filter, '', style: 'width: 130px;'
      %span#display_box.accepted= f.object.person&.full_name_annotated
      %span#person_select{style: "display: none;"}= f.input_field :person_id,
                                    collection: [[f.object.person&.full_name_annotated, f.object.person_id]],
                                    label: false,
                                    style: 'width: 360px;'
      %span#person_id= f.input_field :person_id, as: :hidden                              
    = f.input :event_role, as: :select, collection: translated_options(EventPerson::ROLES), hint: t('people_module.inputs.hints.event_role')
    = f.input :role_state, as: :select, collection: translated_options(EventPerson::STATES)
    - if f.object.notification_subject.present? or f.object.notification_body.present?
      = f.input :notification_subject, label: t('people_module.inputs.notification_subject')
      = f.input :notification_body, label: t('people_module.inputs.notification_body'), as: :text, hint: t('people_module.inputs.hints.notification_body', {variables: Notification::VARIABLES.collect{ |key, desc| '%{'+key+'}' }.join(', ')})
    = remove_association_link :event_person, f
