<div class="nested-fields">
  <%= f.inputs do %>
    <%= f.input :person %>
    <%= f.input :event_role, :as => :select, :collection => EventPerson::ROLES %>
    <%= f.input :role_state, :as => :select, :collection => EventPerson::STATES %>
    <%= remove_association_link "remove person", f %>
  <% end %>
</div>
