%fieldset.inputs
  %legend Event classifiers
  %div.input.help-block= "Help your audience and reviewers to understand your submission. Chose and then weigh the appropriate categories for your lecture."
  .input
    %ul{class: 'event_classifiers_checkboxes'}
      - @conference.classifiers.each do |classifier|
        %li
          - event_has_this_classifier = @event.present? ? @event.event_classifiers.pluck(:classifier_id).include?(classifier.id) : false
          = classifier.name
          = link_to_add_association f, :event_classifiers, partial: '/events/event_classifier_fields', style: 'display:none;',
          render_options: { locals: { the_cat: classifier } },
          'data-association-insertion-node': '.classifier',
          'data-association-insertion-position': 'after'
          = check_box_tag(classifier.id, 0, event_has_this_classifier, class: 'cocoon-checkbox pull-left', autocomplete: 'off')
%fieldset.inputs
  %div{class: 'classifier', id: 'classifier_sliders'}
    = f.simple_fields_for :event_classifiers do |association_form|
      = render '/events/event_classifier_fields', f: association_form, the_cat: association_form.object.classifier

