.nav.nav-pills.nav-fill.mb-4.bg-light.rounded.p-2
  = link_to events_path, class: "nav-link rounded #{(!showing_my_events? && active_class?(events_path)) ? 'active' : ''}" do
    %i.bi.bi-calendar-event.me-2
    %span.d-none.d-sm-inline= t('events_module.all_events')
  = link_to my_events_path, class: "nav-link rounded #{(showing_my_events? && active_class?(events_path)) ? 'active' : ''}" do
    %i.bi.bi-person-circle.me-2
    %span.d-none.d-sm-inline= t('events_module.my_events')
  = link_to attachments_events_path, class: "nav-link rounded #{active_class?(attachments_events_path) ? 'active' : ''}" do
    %i.bi.bi-paperclip.me-2
    %span.d-none.d-sm-inline= t('events_module.attachments_overview')
  = link_to ratings_events_path, class: "nav-link rounded #{active_class?(ratings_events_path) ? 'active' : ''}" do
    %i.bi.bi-star.me-2
    %span.d-none.d-sm-inline= t('events_module.event_ratings')
  - if @conference.feedback_enabled
    = link_to feedbacks_events_path, class: "nav-link rounded #{active_class?(feedbacks_events_path) ? 'active' : ''}" do
      %i.bi.bi-chat-dots.me-2
      %span.d-none.d-sm-inline= t('events_module.event_feedbacks')
  