- if show_filters_pane?
  %p
    %b= t('col_filters')
    - filters_data.each do |f|
      - if params[f.qname].present?
        %span{:style => 'margin-left: 1em'}
          = link_to "[x]", request.query_parameters.except(f.qname)
          = f.filter_name || t(f.filter_name_i18n)
          = ":"
          - if f.i18n_scope
            = t(params[f.qname], scope: f.i18n_scope)
          - else
            = params[f.qname]
