= simple_form_for(@event, html: {multipart: true}) do |f|
  %fieldset.inputs
    %legend Basic information
    = f.input :title
    = f.input :subtitle
    - @event.build_ticket unless @event.ticket
    = f.simple_fields_for :ticket do |ticket|
      = ticket.input :remote_ticket_id
    = f.input :event_type, collection: Event::TYPES
    = f.association :track, collection: @conference.tracks
    = f.input :time_slots, as: :select, collection: timeslots
    = f.input :language, as: :language_select, only: @conference.language_codes
    = f.input :public, as: :inline_boolean, hint: "Is this event visible in the public schedule?"
    = image_input_box(f.object.logo)
    = f.input :logo
  %fieldset.inputs
    %legend State
    = f.input :state, collection: Event.state_machine.states.map { |st| [st.display_name, st.name.to_s] }
  %fieldset.inputs
    %legend Time and place
    = f.input :start_time do
      = f.select :start_time, grouped_options_for_select(@start_time_options, @event.start_time), { include_blank: true }
    = f.association :room, collection: @conference.rooms
  %fieldset.inputs
    %legend Event classifiers
    %div.input.help-block= "Help your audience and reviewers to understand your submission. Chose and then weigh the appropriate categories for your lecture."
    .input
      %ul{class: 'event_classifiers_checkboxes'}
        - @conference.classifiers.each do |classifier|
          %li
            - event_has_this_classifier = @event.event_classifiers.pluck(:classifier_id).include?(classifier.id)
            = classifier.name
            = link_to_add_association f, :event_classifiers, partial: 'event_classifier_fields', style: 'display:none;',
            render_options: { locals: { the_cat: classifier } },
            'data-association-insertion-node': '.classifier',
            'data-association-insertion-position': 'after'
            = check_box_tag(classifier.id, 0, event_has_this_classifier, class: 'cocoon-checkbox pull-left', autocomplete: 'off')
  %fieldset.inputs
    -# if hint
      %div.input.help-block= hint
    %div{class: 'classifier', id: 'classifier_sliders'}
      = f.simple_fields_for :event_classifiers do |association_form|
        = render 'event_classifier_fields', f: association_form, the_cat: association_form.object.classifier
  %fieldset.inputs
    %legend Detailed description
    = f.input :abstract, input_html: {rows: 4}, hint: "One short paragraph that succinctly describes the event. (HTML)"
    = f.input :description,input_html: {rows: 4}, hint: "A longer description of the event. Use this to give additional details that did not fit in the abstract. Both, abstract and description, will be shown on the conference website. (HTML)"
  %fieldset.inputs
    %legend Notes
    = f.input :note, input_html: {rows: 2}, hint: "visibility: admin only."
    = f.input :submission_note, input_html: {rows: 2}, hint: "visibiliy: admin and user; additional information."
  %fieldset.inputs
    %legend Additional Resources
    = f.input :do_not_record, as: :inline_boolean, hint: "Will this event be recorded?"
    = f.input :tech_rider, input_html: {rows: 2}, hint: "What is needed for this event?"
    = f.input :recording_license, hint: "Recording license for this talk"
    = dynamic_association :links, "Links", f
    = dynamic_association :event_attachments, "Uploaded files", f
  .actions
    = f.button :submit, class: 'primary'
