<%= semantic_form_for(@event) do |f| %>

  <%= f.inputs :name => "Basic information" do %>
    <%= f.input :title %>
    <%= f.input :subtitle %>
    <%= f.input :event_type, :collection => Event::TYPES %>
    <%= f.input :time_slots, :as => :select, :collection => timeslots %>
    <%= f.input :language, :collection => t(:languages) %>
    <%= f.input :public, :hint => "Is this event visible in the public schedule?" %>
    <%= f.input :logo %>
  <% end %>
  
  <%= f.inputs :name => "State and progress" do %>
    <%= f.input :state, :collection => Event::STATES.keys %>
    <%= f.input :progress, :collection => Event::STATES[@event.state.to_sym] %>
  <% end %>
  
  <%= f.inputs :name => "Time and place" do %>
    <%= f.input :start_time, :as => :select, :collection => start_times %>
  <% end %>
  
  <%= f.inputs :name => "Detailed description" do %>
    <%= f.input :abstract, :input_html => {:rows => 4}, :hint => "One short paragraph that succinctly describes the event." %>
    <%= f.input :description, :hint => "A longer description of the event. Use this to give additional details that did not fit in the abstract. Both, abstract and description, will be shown on the conference website." %>

    <%= f.inputs :name => "Links" do %>
      <div id="links">
        <%= f.semantic_fields_for :links do |link| %>
          <%= render :partial => 'link_fields', :locals => {:f => link} %>
        <% end %>
        <%= link_to_add_association "add link", f, :links %>
      </div>
    <% end %> 
  
  <% end %>

<% end %>
