<%= block do %>
  <%= content do %>
    <h2>Editing Persons for "<%= @event.title %>" </h2>

    <%= inner do %>

      <%= semantic_form_for(@event) do |f| %>

          <%= dynamic_association :event_people, nil, f %>

          <%= f.buttons %>

      <% end %>

      <%= link_to 'Back', @event %> |

    <% end %>
  <% end %>
<% end %>
