%section
  .page-header
    %h1 Edit Event
    %ul.tabs
      %li.active= link_to "Event Details", @event
      %li= link_to "People", people_event_path(@event)
      %li= link_to "Ratings", event_event_rating_path(@event)
      %li= link_to "Feedback", event_event_feedbacks_path(@event)
  .row
    .span16
      = render 'form'
