%section
  .page-header
    %h1 Edit Event
    %ul.tabs
      %li.active= link_to "Event Details", @event
      %li= link_to "People", people_event_path(@event)
      %li= link_to "Ratings", event_event_rating_path(@event)
      %li= link_to "Feedback", event_event_feedbacks_path(@event)
  .row
    .span16
      = render 'form'
  - if @other_conferences.any?
    = simple_form_for(@event, url: copy_to_conference_event_path, method: :put) do |f|
      %fieldset.inputs
        %legend Copy this event to another conference
        .row
          .span8
            = f.input :conference_id, as: :select, collection: @other_conferences
          .span8
            = f.button :submit, "Copy event", class: "secondary"
