%section
  .page-header
    %h1 Editing People for "#{@event.title}"
  .row
    .span16
      = simple_form_for(@event) do |f|
        = dynamic_association :event_people, nil, f
        .actions
          = f.button :submit, class: 'primary'
          = link_to "Cancel", :back, :class => "btn"
