
%section
  .page-header
    %h1= t('titles.edit_people_for_event', {event: @event.title})
  .row
    .span16
      = simple_form_for(@event, data: { persons: @persons }) do |f|
        = dynamic_association :event_people, nil, f
        .actions
          = f.button :submit, class: 'primary'
          = link_to t('cancel'), :back, class: "btn"


= javascript_include_tag "person_filter"

:coffeescript
  for x in $("div.nested-fields")
    window.update_and_attach_person_filter("#{lookup_people_url}", $(x))
  
  $("form.edit_event").on 'cocoon:after-insert', (e, item) ->
    update_and_attach_person_filter("#{lookup_people_url}", item)
