<%= block do %>
  <%= content do %>
    <h2>Editing event</h2>

    <%= inner do %>

      <%= render 'form' %>

      <%= link_to 'Show', @event %> |
      <%= link_to 'Back', events_path %>

    <% end %>
  <% end %>
<% end %>
