%section
  .page-header
    %h1 Event Feedbacks
  = render partial: "event_list_tabs"
  - unless @conference.feedback_enabled
    .row
      .col-md-12
        .blank-slate
          %p= t('events_module.feedback_not_enabled')

  - else
    .row
      .col-md-12
        = render 'shared/simple_search', path: request.path          
    .row
      .col-md-12
        %table.table.table-striped
          %thead
            %tr
              %th
              %th= sort_link @search, :title, term: params[:term]
              %th Speakers
              %th= sort_link @search, :track_name, t('track'), term: params[:term]
              %th= sort_link @search, :average_feedback, term: params[:term]
              %th= sort_link @search, :event_feedbacks_count, term: params[:term]
          %tbody
            - @events.each do |event|
              %tr
                %td= link_to (image_box event.logo, :small), event
                %td= link_to event.title, event_event_feedbacks_path(event)
                %td= event.speakers.map{ |p| link_to p.public_name, p}.join(", ").html_safe
                %td= event.track.try(:name)
                %td
                  - if event.average_feedback
                    = render 'shared/star_rating', id: "event_rating_#{event.id}", value: event.average_feedback, readonly: true, size: 'sm'
                %td= event.event_feedbacks_count
        = actions_bar do
          = will_paginate @events
