<%= block do %>
  <%= content do %>
    <h2>Listing events</h2>

    <%= inner do %>
      <%= render 'shared/simple_search', :path => events_path %>

      <%= render 'events_table', :events => @events %>

      <%= actions_bar do %>
        <%= will_paginate @events %>
      <% end %>

    <% end %>
  <% end %>
<% end %>

<% content_for :sidebar do %>

  <%= actions_block do %>
    <%= action_button "add", "Add event", new_event_path %>
  <% end %>

<% end %>
