= block do
  .secondary-navigation
    %ul.wat-cf
      %li.active.first= link_to "All Events", events_path
      %li= link_to "My Events", my_events_path
      %li= link_to "Event Ratings", ratings_events_path
  = content do
    %h2 Listing events
    = inner do
      - if params[:term].blank? and @events.all.empty?
        .blank-slate
          %p
            This conference does not yet have any events.
            Start adding events by clicking on the 
            button on the right. Or start a call for 
            papers, to allow others to submit events for
            you to review.
      - else
        = render 'shared/search_and_table', :collection => @events
- content_for :sidebar do
  = actions_block do
    = action_button "add", "Add event", new_event_path, :title => "Add a new event."
    = action_button "printer", "Print cards", cards_events_path(:format => :pdf), :title => "Download a PDF with all events as cards (four cards per page). Print this out to take your planning offline."
    = action_button "printer", "Print cards (accepted only)", cards_events_path(:accepted => true, :format => :pdf), :title => "Download a PDF with only the accepted events as cards (four cards per page). Especially useful to plan your program schedule offline."
