<%= block do %>
  <%= content do %>
    <h2>Listing events</h2>

    <%= inner do %>
      <%= render 'shared/simple_search', :path => events_path %>

      <%= render 'events_table', :events => @events %>

      <%= actions_bar do %>
        <%= will_paginate @events %>
      <% end %>

      <br />

      <%= link_to 'New Event', new_event_path %>
    <% end %>
  <% end %>
<% end %>
