%section
  .page-header
    .pull-right
      - if policy(@conference).manage? 
        = action_button "primary", t('events_module.add_event'), new_event_path, hint: t('events_module.add_event_hint')
      - if policy(@conference).manage? and !showing_my_events?
        = action_button "", t('events_module.print_cards'), cards_events_path(format: :pdf), hint: t('events_module.print_cards_hint')
        = action_button "", t('events_module.print_accepted_cards') , cards_events_path(accepted: true, format: :pdf), hint: t('events_module.print_accepted_cards_hint')

    %h1=t('titles.event_list') unless showing_my_events?
    %h1=t('events_module.my_events') if showing_my_events?

  = render partial: "event_list_tabs"
  - unless @conference.events.any?
    .row
      .span16
        .blank-slate
          %p= t('events_module.no_events') unless showing_my_events?
          %p= t('events_module.not_involved') if showing_my_events?
  - else
    = render partial: 'filters', locals: { params: params }
    = render 'shared/search_and_table', collection: @events
    = render 'below_table'
= render partial: 'modal_holder'
