%section
  .page-header
    .pull-right
      = action_button "primary", "Edit", edit_people_event_path(@event), :hint => "Add or remove people from this event."
    %h1 Event: #{@event.title}
  %ul.tabs
    %li= link_to "Event Details", @event
    %li.active= link_to "People", people_event_path(@event)
    %li= link_to "Ratings", event_event_rating_path(@event)
    %li= link_to "Feedback", event_event_feedbacks_path(@event)
  - if @event.event_people.count == 0
    .row
      .span16
        .blank-slate
          %p
            There are no people associated with this event yet.
            Use the button on the right to add people. Please
            note that you can only add people that are already
            in the system. If the person you would like to add
            is not yet in the system, go to the <em>People</em>
            tab above and create this person first.
  - else
    .row
      .span16
        %table.zebra-striped
          %thead
            %tr
              %th.first
              %th Name
              %th Role in this event
              %th State
          %tbody
            - @event.event_people.each do |event_person|
              %tr
                %td= image_box event_person.person.avatar, :small
                %td= link_to event_person.person.full_name, event_person.person
                %td= event_person.event_role
                %td= event_person.role_state
