%section
  .page-header
    .pull-right
      = action_button "primary", "Start reviewing", start_review_events_path, :hint => "Review a batch of events in a row. You will be presented with the event that has the least ratings first and can easily navigate to the next event in the row."
    %h1 Event Ratings
  %ul.tabs
    %li= link_to "All Events", events_path
    %li= link_to "My Events", my_events_path
    %li.active= link_to "Event Ratings", ratings_events_path
    - if @conference.feedback_enabled
      %li= link_to "Event Feedbacks", feedbacks_events_path
  - if @events.all.empty?
    .row
      .span16
        .blank-slate
          %p
            There are no events in this conference yet. Once
            you add events, they will appear here together
            with their current ratings. You can edit your
            rating by clicking on an event, or you can use
            the "Start reviewing" button on the right, to
            rate a whole batch of events in a row.
  - else
    .row
      .span16
        %h2 Statistics
        %p
          %b Total number of events:
          = @events_total
          %br/
          %b Total number of events without review:
          = @events_no_review_total
          %br/
          %b Events you have reviewed:
          = @events_reviewed
          %br/
          %b Events you haven't reviewed:
          = @events_no_review
    .row
      .span16
        %table.zebra-striped
          %thead
            %tr
              %th
              %th= sort_link @search, :title, :term => params[:term]
              %th= sort_link @search, :track_name, "Track", :term => params[:term]
              %th= sort_link @search, :event_type, :term => params[:term]
              - if can? :crud, Event
                %th= sort_link @search, :state, :term => params[:term]
              %th= sort_link @search, :average_rating, :term => params[:term]
              %th= sort_link @search, :event_ratings_count, :term => params[:term]
              %th
          %tbody
            - @events.each do |event|
              %tr
                %td= image_box event.logo, :small
                %td
                  = link_to event.title, event
                  %p.small
                    = by_speakers(event)
                %td= event.track.try(:name)
                %td= event.event_type
                - if can? :crud, Event
                  %td= event.state
                %td
                  - if event.average_rating
                    .rating{:id => "event_rating_#{event.id}", :"data-rating" => event.average_rating}
                %td= event.event_ratings_count
                %td
                  = link_to 'Show Ratings', event_event_rating_path(event), :class => "btn small"
        = actions_bar do
          = will_paginate @events

:javascript
  $(document).ready(function(){
    $(".rating").each(function(index) {
      $(this).raty({
        readOnly: true,
        path: "",
        starOn: '#{raty_icon_path("on")}',
        starHalf: '#{raty_icon_path("half")}',
        starOff: '#{raty_icon_path("off")}',
        half: true,
        start: $(this).data('rating')
      });
    });
  });
