= block do
  .secondary-navigation
    %ul.wat-cf
      %li.first= link_to "All Events", events_path
      %li.active= link_to "Ratings", ratings_events_path
  = content do
    %h2 Event Ratings
    = inner do
      %table.table
        %tr
          %th.first
          %th= sort_link @search, :title, :term => params[:term]
          %th= sort_link @search, :track_name, "Track", :term => params[:term]
          %th= sort_link @search, :event_type, :term => params[:term]
          %th= sort_link @search, :state, :term => params[:term]
          %th= sort_link @search, :average_rating, :term => params[:term]
          %th= sort_link @search, :event_ratings_count, :term => params[:term]
          %th.last
        - @events.each do |event|
          %tr{:class => cycle('odd', 'even')}
            %td= image_box event.logo, :small
            %td= event.title
            %td= event.track.try(:name)
            %td= event.event_type
            %td= event.state
            %td
              - if event.average_rating
                .rating{:id => "event_rating_#{event.id}", :"data-rating" => event.average_rating}
            %td= event.event_ratings_count
            %td.last
              = link_to 'Show Ratings', event_event_rating_path(event)
      = actions_bar do
        = will_paginate @events

- content_for :sidebar do
  = actions_block do
    = action_button "resultset_next", "Start reviewing", start_review_events_path
  = block do
    %h3 Statistics
    = content do
      %p
        %b Total number of events:
        = @events_total
        %br/
        %b Events you have reviewed:
        = @events_reviewed
        %br/
        %b Events without review:
        = @events_no_review

:javascript
  $(document).ready(function(){
    $(".rating").each(function(index) {
      $(this).raty({
        readOnly: true,
        path: "/images/raty/",
        half: true,
        start: $(this).data('rating')
      });
    });
  });
