= block do
  .secondary-navigation
    %ul.wat-cf
      %li.active.first= link_to "Event Details", @event 
      %li= link_to "Ratings", event_event_rating_path(@event)
  = content do
    %h2
      Event: #{@event.title}
    = inner do
      %p
        %b Subtitle:
        = @event.subtitle
      %p
        %b Event type:
        = @event.event_type
      %p
        %b Time slots:
        = @event.time_slots
      %p
        %b State:
        = @event.state
      %p
        %b Language:
        = @event.language
      %p
        %b Start time:
        = @event.start_time
      %p
        %b Abstract:
        = @event.abstract
      %p
        %b Description:
        = @event.description
      %p
        %b Public:
        = @event.public
      %p
        %b Average audience feedback:
        = number_with_precision @event.average_feedback, :precision => 1

- content_for :sidebar do
  = actions_block do
    = action_button "application_edit", "Edit event", edit_event_path(@event)
    - if @event.transition_possible? :accept
      = action_button "thumb_up", "Accept event", update_state_event_path(@event, :transition => :accept, :send_mail => true), :method => :put 
      = action_button "thumb_up", "Accept event (no email)", update_state_event_path(@event, :transition => :accept), :method => :put 
    - if @event.transition_possible? :reject
      = action_button "thumb_down", "Reject event", update_state_event_path(@event, :transition => :reject, :send_mail => true), :method => :put, :confirm => "Are you sure?"
      = action_button "thumb_down", "Reject event (no email)", update_state_event_path(@event, :transition => :reject), :method => :put, :confirm => "Are you sure?"
    - if @event.transition_possible? :confirm
      = action_button "tick", "Confirm event", update_state_event_path(@event, :transition => :confirm), :method => :put
    - if @event.transition_possible? :cancel
      = action_button "cancel", "Cancel event", update_state_event_path(@event, :transition => :cancel), :method => :put
  = block do
    %h3 People involved in this event
    = content do
      %table.table
        - @event.event_people.each do |event_person|
          %tr
            %td= image_box event_person.person.avatar, :small
            %td= link_to event_person.person.full_name, event_person.person
            %td= event_person.event_role
            %td= event_person.role_state
      = action_button "application_edit", "Edit", edit_persons_event_path(@event)
