<%= block do %>
  <%= content do %>
    <h2>Event: <%= @event.title %></h2>
    <%= inner do %>
      <p>
        <b>Subtitle:</b>
        <%= @event.subtitle %>
      </p>

      <p>
        <b>Event type:</b>
        <%= @event.event_type %>
      </p>

      <p>
        <b>Time slots:</b>
        <%= @event.time_slots %>
      </p>

      <p>
        <b>State:</b>
        <%= @event.state %>
      </p>

      <p>
        <b>Progress:</b>
        <%= @event.progress %>
      </p>

      <p>
        <b>Language:</b>
        <%= @event.language %>
      </p>

      <p>
        <b>Start time:</b>
        <%= @event.start_time %>
      </p>

      <p>
        <b>Abstract:</b>
        <%= @event.abstract %>
      </p>

      <p>
        <b>Description:</b>
        <%= @event.description %>
      </p>

      <p>
        <b>Public:</b>
        <%= @event.public %>
      </p>

      <p>
        <b>Average rating:</b>
        <%= number_with_precision @event.average_rating, :precision => 1 %>
      </p>
    <% end %>
  <% end %>
<% end %>

<% content_for :sidebar do %>
  
  <%= actions_block do %>
    <%= action_button "application_edit", "Edit event", new_event_path %>
  <% end %>

  <%= block do %>
    <h3>People involved in this event</h3>
    <%= content do %>
      <table class="table">
        <% @event.event_people.each do |event_person| %>
          <tr>
            <td><%= image_box event_person.person.avatar, :small %></td>
            <td><%= link_to event_person.person.full_name, event_person.person %></td>
            <td><%= event_person.event_role %></td>
            <td><%= event_person.role_state %></td>
          </tr>
        <% end %>
      </table>
      <%= action_button "application_edit", "Edit", edit_persons_event_path(@event) %>
    <% end %>
  <% end %>
<% end %>
