%section
  .page-header
    .d-flex.flex-column.flex-md-row.justify-content-between.align-items-start.align-items-md-center.gap-3.mb-4
      %h1.mb-0= t('titles.event', event: @event.title)
      .d-flex.flex-wrap.gap-2
        - if policy(@conference).manage?
          = action_button '<i class="bi bi-pencil-square"></i> '.html_safe + t('events_module.edit_event'), edit_event_path(@event), hint: t('events_module.edit_event_hint'), class: "btn btn-primary"
          = action_button '<i class="bi bi-people"></i> '.html_safe + t('events_module.edit_people'), edit_people_event_path(@event), hint: t('events_module.edit_people_hint'), class: "btn btn-primary"
          - if @conference.ticket_type == 'integrated' and !@conference.bulk_notification_enabled and @conference.call_for_participation.present?
            - if @event.transition_possible? :accept
              = action_button '<i class="bi bi-check-circle"></i> '.html_safe + t('events_module.accept_event'), update_state_event_path(@event, transition: :accept, send_mail: true), method: :put, hint: t('events_module.accept_event_hint'), class: "btn btn-success"
            - if @event.transition_possible? :reject
              = action_button '<i class="bi bi-x-circle"></i> '.html_safe + t('events_module.reject_event') , update_state_event_path(@event, transition: :reject, send_mail: true), data: { controller: "confirm", action: "click->confirm#confirm", "confirm-message-value": t('are_you_sure') }, method: :put, hint: t('events_module.reject_event_hint'), class: "btn btn-danger"
          - if @event.transition_possible? :accept
            = action_button '<i class="bi bi-check-circle"></i> '.html_safe + t('events_module.accept_event_no_email'), update_state_event_path(@event, transition: :accept), method: :put, hint: t('events_module.accept_event_no_email_hint'), class: "btn btn-success"
          - if @event.transition_possible? :reject
            = action_button '<i class="bi bi-x-circle"></i> '.html_safe + t('events_module.reject_event_no_email'), update_state_event_path(@event, transition: :reject), data: { controller: "confirm", action: "click->confirm#confirm", "confirm-message-value": t('are_you_sure') }, method: :put, hint: t('events_module.reject_event_no_email_hint'), class: "btn btn-danger"
          - if @event.transition_possible? :confirm
            = action_button '<i class="bi bi-check2-circle"></i> '.html_safe + t('events_module.confirm_event'), update_state_event_path(@event, transition: :confirm), method: :put, hint: t('events_module.confirm_event_hint'), class: "btn btn-secondary"
          - if @event.transition_possible? :cancel
            = action_button '<i class="bi bi-x-circle"></i> '.html_safe + t('events_module.cancel_event'), update_state_event_path(@event, transition: :cancel), method: :put, hint: t('events_module.cancel_event_hint'), class: "btn btn-danger"
          - if @event.transition_possible? :notify
            = action_button '<i class="bi bi-envelope"></i> '.html_safe + t('events_module.custom_notification'), custom_notification_event_path(event_id: @event), method: :post, hint: t('events_module.custom_notification_hint'), class: "btn btn-secondary"
          - if @conference.ticket_server_enabled?
            - unless @event.remote_ticket?
              = action_button '<i class="bi bi-ticket"></i> '.html_safe + t('events_module.add_ticket'), create_event_ticket_path(event_id: @event), method: :post, title: t('events_module.add_ticket_hint'), class: "btn btn-primary"
        - elsif current_user.is_speaker_in?(@event)
          = action_button '<i class="bi bi-pencil-square"></i> '.html_safe + t('edit'), edit_cfp_event_path(@event), class: "btn btn-primary btn-sm"
  = render 'shared/events_tabs'
  
  - if @event.conflicts.any?
    .row.mb-4
      .col-12
        - @event.conflicts.each do |conflict|
          = render "conflicts/#{conflict.conflict_type}", conflict: conflict

  .row.g-4
    .col-12.col-lg-8
      .row.g-4
        .col-12
          .card
            .card-header
              %h5.card-title.mb-0= t(:basic_information)
            .card-body
              .row.g-3
                .col-12.col-md-6
                  - if @event.subtitle.present?
                    .mb-3
                      %strong.text-muted= Event.human_attribute_name(:subtitle) + ':'
                      %div= @event.subtitle
                  .mb-3
                    %strong.text-muted= Event.human_attribute_name(:track) + ':'
                    %div= @event.track_name
                  .mb-3
                    %strong.text-muted= Event.human_attribute_name(:event_type) + ':'
                    %div= @event.localized_event_type
                  - if policy(@conference).manage?
                    .mb-3
                      %strong.text-muted= Event.human_attribute_name(:state) + ':'
                      %div
                        %span.badge.bg-secondary= t(@event.state, scope: :options) unless @event.state.blank?
                .col-12.col-md-6
                  - unless @event.ticket.nil? or @event.ticket.remote_ticket_id.nil?
                    .mb-3
                      %strong.text-muted= t('col_ticket') + ':'
                      %div
                        - if @conference.ticket_server.nil?
                          = @event.ticket.remote_ticket_id
                        - else
                          = link_to @event.ticket.remote_ticket_id, get_ticket_view_url(@event.ticket.remote_ticket_id), target: "_blank", class: "link-primary"
                  .mb-3
                    %strong.text-muted= t('col_language') + ':'
                    %div= @event.language
                  .mb-3
                    %strong.text-muted= t('col_public') + ':'
                    %div
                      = check_box_tag :public, @event.public, @event.public, disabled: true, class: "form-check-input me-2"
                      = @event.public? ? t('yes') : t('no')
                  .mb-0
                    %strong.text-muted= t('avg_audience_feedback') + ':'
                    %div= number_with_precision @event.average_feedback, precision: 1

        .col-12.col-md-6
          .card.h-100
            .card-header
              %h5.card-title.mb-0= t('scheduling')
            .card-body
              .mb-3
                %strong.text-muted= t('col_time_slots') + ':'
                %div= format_time_slots @event.time_slots
              - if policy(@conference).manage?
                .mb-3
                  %strong.text-muted= t('col_start_time') + ':'
                  %div= event_start_time
              .mb-3
                %strong.text-muted= t('col_room') + ':'
                %div= @event.room.try(:name)
              - if @event.conference != @conference
                .mb-0
                  %strong.text-muted= t('col_conference') + ':'
                  %div= @event.conference.acronym

        .col-12.col-md-6
          .card.h-100
            .card-header
              %h5.card-title.mb-0= t('people')
            .card-body
              - if @event.speakers.any?
                = @event.speakers.map{ |p| link_to p.public_name, p, class: "link-primary" }.join(", ").html_safe
              - else
                %span.text-muted= t('no_speakers')

    .col-12.col-lg-4
      - if @event.logo.present?
        .card
          .card-body.text-center
            = image_box @event.logo, :large, class: "img-fluid rounded"
  .row.mt-4
    .col-12
      .card
        .card-header
          %h5.card-title.mb-0= t('content')
        .card-body
          .row.g-4
            - if @event.abstract.present?
              .col-12.col-lg-6
                %h6.text-muted.mb-2= t('col_abstract')
                .content-text= simple_format @event.abstract
            - if @event.description.present?
              .col-12{class: @event.abstract.present? ? "col-lg-6" : ""}
                %h6.text-muted.mb-2= t('col_description')
                .content-text= simple_format @event.description
            - if @event.links.any?
              .col-12.col-md-6
                %h6.text-muted.mb-2= t('col_links')
                .list-group.list-group-flush
                  - @event.links.each do |link|
                    = link_to link.title, fix_http_proto(link.url), target: "_blank", class: "list-group-item list-group-item-action border-0 px-0"
            - if @event.event_attachments.any?
              .col-12.col-md-6
                %h6.text-muted.mb-2= t('col_files')
                .list-group.list-group-flush
                  - @event.event_attachments.each do |attachment|
                    = link_to attachment.link_title, attachment.attachment.url, target: "_blank", class: "list-group-item list-group-item-action border-0 px-0"
  - if @event.event_classifiers.any?
    .row.mt-4
      .col-12
        .card
          .card-header
            %h5.card-title.mb-0= t('col_classifiers')
          .card-body
            .row.g-3
              - @event.event_classifiers.each do |ec|
                .col-12.col-sm-6.col-lg-4
                  .d-flex.flex-column.gap-2
                    %label.form-label.mb-1= ec.classifier.name
                    %progress.progress{value: ec.value, max: 100, style: "height: 20px;"}= "#{ec.value}%"
                    %small.text-muted= "#{ec.value}%"

  - if (@event.note.present? && policy(@conference).manage?) || @event.submission_note.present? || @event.tech_rider.present?
    .row.mt-4
      .col-12
        .card
          .card-header
            %h5.card-title.mb-0= t('notes')
          .card-body
            .row.g-4
              - if policy(@conference).manage? && @event.note.present?
                .col-12.col-lg-6
                  %h6.text-muted.mb-2= t('col_notes_admin')
                  .alert.alert-info.mb-0= simple_format @event.note
              - if @event.submission_note.present?
                .col-12.col-lg-6
                  %h6.text-muted.mb-2= t('col_submission_notes')
                  .content-text= simple_format @event.submission_note
              - if @event.tech_rider.present?
                .col-12
                  %h6.text-muted.mb-2= Event.human_attribute_name(:tech_rider) + ':'
                  .content-text= simple_format @event.tech_rider

  .row.mt-4
    .col-12
      = render partial: 'events/event_tags', locals: { event: @event, short: false }
