%section
  .page-header

    %h1= t('titles.event', event: @event.title)
  = render 'shared/events_tabs'
  - @translations.each do |event|
    .row
      .col-md-12
        %h2= t('languages.'+event.locale)
        %p
          %b= Event.human_attribute_name(:title) + ':'
          = event.title
        %p
          %b= Event.human_attribute_name(:subtitle) + ':'
          = event.subtitle
    .row
      .col-md-6
        %p
          %b= t('col_abstract')
          = simple_format event.abstract
      .col-md-10
        %p
          %b= t('col_description')
          = simple_format event.description
