= block do
  %h2 Change your password
  = content do
    = semantic_form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :put }) do |f|
      = f.hidden_field :reset_password_token
      = f.inputs do
        = f.input :password
        = f.input :password_confirmation
      = f.buttons do
        = f.commit_button "Change my password", :button_html => {:class => "button", :icon => "tick"}
    = render :partial => "devise/shared/links"
