%section
  .page-header
    %h1=t("cfp.change_password_headline")
  .row
    .span16
      = render "shared/flash", flash: flash
      = simple_form_for(@user, url: cfp_user_password_path, html: { method: :put }) do |f|
        = f.hidden_field :reset_password_token
        %fieldset.inputs
          = f.input :password
          = f.input :password_confirmation
        .actions
          = f.button :submit, t("cfp.change_password_button"), class: 'primary'
          = link_to t("cfp.back"), :back, class: "btn"
