= simple_form_for([:cfp, @event], html: {multipart: true}) do |f|
  %fieldset.inputs
    %legend= t("cfp.basic_information")
    = f.input :title
    = f.input :subtitle
    = f.input :event_type, collection: translated_options(Event::TYPES)
    = f.association :track, collection: @conference.tracks
    = f.input :time_slots, as: :select, collection: timeslots, hint: t("cfp.event_time_slots_hint")
    = f.input :language, as: :language_select, only: @conference.language_codes, include_blank: true
    = image_input_box(f.object.logo)
    = f.input :logo
  %fieldset.inputs
    %legend Event classifiers
    %div.input.help-block= "Help your audience and reviewers to understand your submission. Chose and then weigh the appropriate categories for your lecture."
    .input
      %ul{class: 'event_classifiers_checkboxes'}
        - @conference.classifiers.each do |classifier|
          %li
            - event_has_this_classifier = @event.present? ? @event.event_classifiers.pluck(:classifier_id).include?(classifier.id) : false
            = classifier.name
            = link_to_add_association f, :event_classifiers, partial: '/events/event_classifier_fields', style: 'display:none;',
            render_options: { locals: { the_cat: classifier } },
            'data-association-insertion-node': '.classifier',
            'data-association-insertion-position': 'after'
            = check_box_tag(classifier.id, 0, event_has_this_classifier, class: 'cocoon-checkbox pull-left', autocomplete: 'off')
  %fieldset.inputs
    %div{class: 'classifier', id: 'classifier_sliders'}
      = f.simple_fields_for :event_classifiers do |association_form|
        = render '/events/event_classifier_fields', f: association_form, the_cat: association_form.object.classifier
  %fieldset.inputs
    %legend= t("cfp.detailed_description")
    = f.input :abstract, input_html: {rows: 4}, hint: t("cfp.event_abstract_hint")
    = f.input :description, hint: t("cfp.event_description_hint")
    = f.input :submission_note, hint: t("cfp.submission_note_hint")
    = dynamic_association :links, t("cfp.links"), f
    = dynamic_association :event_attachments, t("cfp.uploaded_files"), f
  .actions
    = f.button :submit, class: 'primary'
