= simple_form_for([:cfp, @event], html: {multipart: true}) do |f|
  %fieldset.inputs
    %legend= t("cfp.basic_information")
    = f.input :title
    = f.input :subtitle
    - if @event.present? && @event.speakers.count > 1
      = f.input :speakers, label: "Speakers" do
        %p{style: "padding-top: 0.5em;"}
          %b=@event.speakers.map(&:public_name).join(", ").html_safe
    = f.hidden_field :event_type, value: "Workshop"
    = f.association :track, collection: @conference.tracks, hint: t('cfp.track_hint')
    = f.hidden_field :time_slots, value: "7"
    = f.input :number_of_repeats, as: :select, collection: 1..3, hint: '1-3'
    = f.input :language, as: :language_select, only: @conference.language_codes, include_blank: true
    = f.input :interpreter, collection: translated_options(Event::INTERPRETER)
    - unless ENV['DISABLE_FRAB_LOGO_FIELD'].present?
      = image_input_box(f.object.logo)
      = f.input :logo, hint: t('cfp.logo_hint')
  - if @conference.classifiers.any?
    = render partial: '/events/event_classifiers', locals: {f: f}
  %fieldset.inputs
    %legend= t("cfp.detailed_description")
    = f.input :abstract, input_html: {rows: 4}, hint: t("cfp.event_abstract_hint")
    - unless ENV['DISABLE_FRAB_DESCRIPTION_FIELD'].present?
      = f.input :description, hint: t("cfp.event_description_hint")
    = f.input :submission_note, hint: t('cfp.submission_note_hint')
    = f.input :target_audience_experience, collection: translated_options(Event::EXPERIENCE), hint: t('target_audience_experience_hint')
    = f.input :target_audience_experience_text, input_html: { rows: 2 }, hint: t('cfp.target_audience_experience_text_hint')
    = f.input :methods, as: :check_boxes, collection: translated_options(Event::METHODS), hint: t('cfp.methods_hint')
    = dynamic_association :links, t("cfp.links"), f
    = dynamic_association :event_attachments, t("cfp.uploaded_files"), f
  .actions
    = f.button :submit, class: 'primary'
    = link_to t('cancel'), :back, class: "btn"

- if EventAttachment::PRESERVE_FILE_ATTACHMENTS
  %p{class: 'help-block'}
    = t('cfp.attachements_may_be_saved')

- if @event.present? && @event.invite_token.present?
  %div
  %h3= 'Token: ' + @event.invite_token
  %p{class: 'help-block'}
    = t('cfp.join_submitters_hint')
    = link_to t('cfp.join_token_link'), cfp_events_join_path(@event.invite_token)
