= simple_form_for([:cfp, @event], html: {multipart: true}) do |f|
  %fieldset.inputs
    %legend= t("cfp.basic_information")
    = f.input :title
    = f.input :subtitle
    = f.input :event_type, collection: translated_options(Event::TYPES)
    = f.association :track, collection: @conference.tracks
    = f.input :time_slots, as: :select, collection: timeslots, hint: t("cfp.event_time_slots_hint")
    = f.input :language, as: :language_select, only: @conference.language_codes, include_blank: true
    = f.input :logo
  %fieldset.inputs
    %legend= t("cfp.detailed_description")
    = f.input :abstract, input_html: {rows: 4}, hint: t("cfp.event_abstract_hint")
    = f.input :description, hint: t("cfp.event_description_hint")
    = f.input :submission_note, hint: "visible for admins and users, contains additional information."
    = dynamic_association :links, t("cfp.links"), f
    = dynamic_association :event_attachments, t("cfp.uploaded_files"), f
  .actions
    = f.button :submit, class: 'primary'
