= simple_form_for([:cfp, @event], html: {multipart: true}) do |f|
  .card.shadow-sm.mb-4
    .card-header.d-flex.align-items-center
      %i.bi.bi-info-circle.me-2
      %h5.mb-0= t("cfp.basic_information")
    .card-body
      = f.input :title
      = f.input :subtitle
      - if @event.present? && @event.speakers.count > 1
        = f.input :speakers, label: "Speakers" do
          %p{style: "padding-top: 0.5em;"}
            %b=@event.speakers.map(&:public_name).join(", ").html_safe
      .row.g-3
        .col-md-4
          = f.input :event_type, collection: translated_options(@conference.allowed_event_types_as_list)
        .col-md-4
          = f.association :track, collection: @conference.tracks
        - if timeslots_for_cfp.length() > 1
          .col-md-4
            = f.input :time_slots, as: :select, collection: timeslots_for_cfp, hint: t("cfp.event_time_slots_hint")
      = f.input :language, as: :language_select, only: @conference.language_codes, include_blank: true
      - unless ENV['DISABLE_FRAB_LOGO_FIELD'].present?
        = image_input_box(f.object.logo)
        = f.input :logo
        
  - if @conference.classifiers.any?
    = render partial: '/events/event_classifiers', locals: {f: f}
    
  .card.shadow-sm.mb-4
    .card-header.d-flex.align-items-center
      %i.bi.bi-card-text.me-2
      %h5.mb-0= t("cfp.detailed_description")
    .card-body
      = f.input :abstract, input_html: {rows: 4}, hint: t("cfp.event_abstract_hint")
      - unless ENV['DISABLE_FRAB_DESCRIPTION_FIELD'].present?
        = f.input :description, hint: t("cfp.event_description_hint")
      = f.input :submission_note, hint: t("cfp.submission_note_hint")
      = dynamic_association :links, t("cfp.links"), f
      = dynamic_association :event_attachments, t("cfp.uploaded_files"), f
      
  .mt-4.p-3.bg-light.rounded.d-flex.gap-2
    = f.button :submit, class: 'btn btn-primary btn-lg'
    = link_to t('cancel'), :back, class: "btn btn-outline-secondary btn-lg"

- if EventAttachment::PRESERVE_FILE_ATTACHMENTS
  %p{class: 'form-text'}
    = t('cfp.attachements_may_be_saved')

- if @event.present? && @event.invite_token.present?
  %div
  %h3= 'Token: ' + @event.invite_token
  %p{class: 'form-text'}
    = t('cfp.join_submitters_hint')
    = link_to t('cfp.join_token_link'), cfp_events_join_path(@event.invite_token)
