<%= block do %>
  <%= content do %>

    <h2>Editing Event</h2>

    <%= inner do %>
      
      <%= render 'form' %>

      <%= link_to 'Back', cfp_person_path %>

    <% end %>

  <% end %>

<% end %>
