%section
  .page-header
    %h1= t("cfp.join_event")
  .row
  - if @event.present?
    = form_tag cfp_events_join_path(@token) do
      = t('cfp.join_description')
      %hr
      %h3= @event.title
      %dl
        %dt
          Subtitle:
        %dd{class: "push-1 span8"}= @event.subtitle
        %dt
          Abstract:
        %dd{class: "span8"}= @event.abstract
        %dt
          Description:
        %dd{class: "span8"}= @event.description
      %hr
      = t('cfp.join_confirm')
      = submit_tag t('cfp.join_event'), class: 'btn btn-large btn-primary'
      %hr
    %h3= t('cfp.join_alternative')
  - else
    - if not @token.blank?
      = render "shared/flash", flash: { error: t('cfp.join_token_unknown', token: @token) }
    %p= t('cfp.join_token_lookup_description')
  %p
  = form_tag cfp_events_join_path, method: :get do
    = text_field_tag :token
    = submit_tag t('cfp.join_token_lookup'), name: nil, class: 'btn btn-large btn-primary'
  %p{class: 'help-block'}
    = t('cfp.join_token_lookup_hint')
