%section
  .page-header
    %h1=t("cfp.join_event")
  .row
  - if @event.present?
    = form_tag cfp_events_join_path(@token) do
      = 'Your token is an invitation to join the following event as a speaker:'
      %hr
      %h3=@event.title
      %dl
        %dt='Subtitle:'
        %dd{class: "push-1 span8"}=@event.subtitle
        %dt='Abstract:'
        %dd{class: "span8"}=@event.abstract
        %dt='Description:'
        %dd{class: "span8"}=@event.description
      %hr
      = 'Do you want to accept the invitation?'
      = submit_tag 'Join event', class: 'btn btn-large btn-primary'
      %hr
    %h3='Or lookup another invitation token'
  - else
    - if not @token.blank?
      = render "shared/flash", flash: { error: "Token #{@token} unknown" }
    %h3='Lookup invitation token.'
  %p
  = form_tag cfp_events_join_path, :method => :get do
    =text_field_tag :token
    =submit_tag 'Lookup token', name: nil, class: 'btn btn-large btn-primary'
  %p{class: 'help-block'}
    Hint: The token can be viewed by the original submitter in the event's edit view.

