= block do
  .secondary-navigation
    %ul.wat-cf
      %li.first= link_to "Event Details", @event 
      %li.active= link_to "Ratings", event_event_rating_path(@event)
  = content do
    %h2 Ratings for #{@event.title}
    = inner do
      = link_to_function "Toggle Full Description", "$('#full_description').toggle();"
      #full_description{:style => "display:none;"}
        %p
          %b= @event.title
          %br/
          %em= @event.subtitle
        %p
          %b Speakers:
          %table
            - @event.speakers.each do |person|
              %tr
                %td= image_box person.avatar, :small
                %td= person.full_name
                %td 
                  %b Average feedback as speaker: 
                  = sprintf("%.2f / 5.0", person.average_feedback_as_speaker)
                  
        %p
          %b Track:
          = @event.track.name
          %b Type:
          = @event.event_type
          %b Language:
          = @event.language
        - if @event.abstract
          %p
            %b Abstract:
            %br/
            = simple_format @event.abstract
        - if @event.description
          %p
            %b Description:
            %br/
            = simple_format @event.description
        - unless @event.links.empty?
          %p
            %b Links:
            %br/
            - @event.links.each do |link|
              = link_to link.title, link.url
              %br/
        - unless @event.event_attachments.empty?
          %p
            %b Attachments:
            %br/
            - @event.event_attachments.each do |attachment|
              = link_to attachment.title, attachment.attachment.url
              %br/
      
      %h3 My rating
      = semantic_form_for @rating, :url => event_event_rating_path do |f|
        = f.inputs do
          = f.input :rating, :as => :hidden
          #my_rating 
          = f.input :comment, :input_html => {:rows => 3}
        = f.buttons do
          = f.commit_button :button_html => {:class => "button"}
      %h3 All ratings
      %table.table
        %tr
          %th.first
          %th User
          %th Rating
          %th Comment
        - @event.event_ratings.each do |event_rating|
          %tr
            %td=image_box event_rating.person.avatar, :small
            %td=event_rating.person.full_name
            %td
              .rating{:id => "event_rating_#{event_rating.id}", :"data-rating" => event_rating.rating}
            %td=event_rating.comment

- content_for :sidebar do
  - if @next_event
    = actions_block do
      = action_button "resultset_next", "Rate next event", event_event_rating_path(@next_event) 
  = block do
    %h3 Total rating
    = content do
      #total_rating{:"data-rating" => @event.average_rating}

:javascript
  $(document).ready(function() {
    $("#my_rating").raty({
      path: "/images/raty/",
      half: true,
      start: $("#event_rating_rating").val(),
      target: "#event_rating_rating",
      targetType: "number",
      targetKeep: true
    });
    $("#total_rating").raty({
      path: "/images/raty/",
      half: true,
      start: $("#total_rating").data("rating")
    });
    $(".rating").each(function(index) {
      $(this).raty({
        readOnly: true,
        path: "/images/raty/",
        half: true,
        start: $(this).data('rating')
      });
    });
  });
