%section
  .page-header
    .pull-right
      - if @next_event
        = actions_block do
          = action_button "primary", "Rate next event", event_event_rating_path(@next_event), hint: "Proceed to rate the next event."
    %h1 Event: #{@event.title}
  %ul.tabs
    %li= link_to "Event Details", @event
    %li= link_to "People", people_event_path(@event)
    %li.active= link_to "Ratings", event_event_rating_path(@event)
    %li= link_to "Feedback", event_event_feedbacks_path(@event)
  .row
    .span16
      %small= link_to "Toggle Description >>", "#", data: { function: 'notification-defaults' }
  #full_description{style: "display:none;"}
    .row
      .span16
        %p
          %em= @event.subtitle
    .row
      .span16
        %p
          %b Speakers:
          %table.zebra-striped
            %tbody
              - @event.speakers.each do |person|
                %tr
                  %td= image_box person.avatar, :small
                  %td= link_to person.full_name, person
                  %td
                    %b Average feedback as speaker:
                    - if average_feedback = person.average_feedback_as_speaker
                      = sprintf("%.2f / 5.0", average_feedback)
                    - else
                      no data
    .row
      .span3
        %p
          %b Track:
          = @event.track.try(:name)
      .span3
        %p
          %b Type:
          = @event.event_type
      .span3
        %p
          %b Language:
          = @event.language
    .row
      .span6
        %p
          %b Abstract:
          %br/
          = simple_format @event.abstract
        - if @event.links
          %p
            %b Links:
            %br/
            - @event.links.each do |link|
              = link_to link.title, link.url
              %br/
        - unless @event.event_attachments.is_public.empty?
          %p
            %b #{t('publich.schedule.files')}:
            %br/
            - @event.event_attachments.is_public.each do |attachment|
              = link_to attachment.link_title, attachment.attachment.url
              %br/
      .span10
        %p
          %b Description:
          %br/
          = simple_format @event.description
  .row
    .span16
      %h2 My rating
      = simple_form_for @rating, url: event_event_rating_path do |f|
        %fieldset.inputs
          = f.input :rating, as: :rating
          = f.input :comment, input_html: {rows: 3}
        .actions
          = f.button :submit, class: 'primary'
  .row
    .span16
      %h2 All ratings
      - if @event_ratings.nil? or @event_ratings.count == 0
        .blank-slate
          %p
            No one has entered a rating for this event yet. Be the first
            and rate the event using the form above.
      - else
        %p
          %b Total:
          %span#total_rating
            = raty_for("total_rating", @event.average_rating)
        - if @event_ratings.count >= 1
          %table.zebra-striped
            %thead
              %tr
                %th
                %th User
                %th Rating
                %th Comment
            %tbody
              - @event_ratings.each do |event_rating|
                - if can? :manage, event_rating
                  - event_rating.person = Person.new if event_rating.person.nil?
                  %tr
                    %td=image_box event_rating.person.avatar, :small
                    %td=event_rating.person.full_name
                    %td
                      = raty_for("event_rating_#{event_rating.id}", event_rating.rating)
                    %td=event_rating.comment
