%section
  .page-header
    .d-flex.justify-content-between.align-items-start.flex-wrap
      %h1.mb-0= t('titles.event', event: @event.title)
      - if @next_event
        = action_button '<i class="bi bi-arrow-right-circle"></i> '.html_safe + t('events_module.rate_next'), event_event_rating_path(@next_event), hint: "Proceed to rate the next event.", class: "btn btn-primary"
  
  = render 'shared/events_tabs'

  .container-fluid
    -# Event Details Section
    .row.mb-4
      .col-12
        .card
          .card-header.d-flex.justify-content-between.align-items-center
            %h5.card-title.mb-0
              %i.bi.bi-info-circle.me-2
              = t('events_module.event_details')
            %button.btn.btn-sm.btn-outline-secondary{ type: "button", data: { "bs-toggle": "collapse", "bs-target": "#event-details" } }
              %i.bi.bi-chevron-down
              %span.ms-1= t('events_module.toggle_description')
          
          #event-details.collapse
            .card-body
              - if @event.subtitle.present?
                .row.mb-3
                  .col-12
                    %h6.text-muted.fst-italic= @event.subtitle

              .row.g-3.mb-4
                .col-md-4
                  %strong= t('col_track')
                  %div= @event.track.try(:name) || '-'
                .col-md-4
                  %strong= t('col_type')
                  %div= @event.event_type.present? ? t(@event.event_type, scope: :options) : '-'
                .col-md-4
                  %strong= t('col_language')
                  %div= @event.language || '-'

              - if @event.speakers.any?
                .row.mb-4
                  .col-12
                    %h6= t('public.schedule.event.speakers')
                    .row.g-3
                      - @event.speakers.each do |person|
                        .col-md-6.col-lg-4
                          .d-flex.align-items-center.p-2.bg-light.rounded
                            = image_box person.avatar, :small
                            .ms-3
                              %div= link_to person.full_name, person, class: 'text-decoration-none fw-medium'
                              %small.text-muted
                                = t('events_module.avg_feedback')
                                - if average_feedback = person.average_feedback_as_speaker
                                  = sprintf("%.1f/5", average_feedback)
                                - else
                                  = t('no_data')

              .row
                .col-lg-6
                  - if @event.abstract.present?
                    %h6= t('col_abstract')
                    .mb-3= simple_format @event.abstract
                  
                  - if @event.links.any?
                    %h6= t('col_links')
                    .mb-3
                      - @event.links.each do |link|
                        = link_to link.title, link.url, class: 'btn btn-sm btn-outline-primary me-2 mb-1'
                  
                  - unless @event.event_attachments.is_public.empty?
                    %h6= t('public.schedule.files')
                    .mb-3
                      - @event.event_attachments.is_public.each do |attachment|
                        = link_to attachment.link_title, attachment.attachment.url, class: 'btn btn-sm btn-outline-info me-2 mb-1'

                .col-lg-6
                  - if @event.description.present?
                    %h6= t('col_description')
                    = simple_format @event.description

    -# My Rating Section
    .row.mb-4
      .col-12
        .card
          .card-header
            %h5.card-title.mb-0
              %i.bi.bi-star.me-2
              = t('events_module.my_rating')
          .card-body
            = simple_form_for @rating, url: event_event_rating_path do |f|
              .row
                .col-lg-6
                  = f.input :rating, as: :rating, wrapper_html: { class: 'mb-3' }
                  = f.input :comment, input_html: { rows: 4 }, wrapper_html: { class: 'mb-3' }
                
                .col-lg-6
                  - if @conference.review_metrics.any?
                    %h6.mb-3= t('events_module.review_metrics')
                    = f.simple_fields_for :review_scores do |ff|
                      .mb-3
                        = ff.input :score, as: :rating, label: ff.object.review_metric.name, 
                          hint: (ff.object.review_metric.description if ff.object.review_metric.description.present?),
                          input_html: { id: "review_score_#{ff.object.review_metric.id}" }
                        = ff.input :review_metric_id, as: :hidden
                        = ff.input :id, as: :hidden

              .d-flex.gap-2.mt-3
                = f.button :submit, class: 'btn btn-primary'
                - if @rating.persisted?
                  = delete_button event_event_rating_path(@event), hint: t('destroy')

    -# All Ratings Section
    .row
      .col-12
        .card
          .card-header
            %h5.card-title.mb-0
              %i.bi.bi-people.me-2
              = t('events_module.all_rating')
          .card-body
            - if @event_ratings.nil? or @event_ratings.count == 0
              .text-center.py-4
                %i.bi.bi-star.text-muted{ style: "font-size: 3rem;" }
                %p.text-muted.mt-2= t('events_module.no_ratings')
            - else
              .mb-4
                .d-flex.align-items-center.gap-3
                  %span.fw-bold= t('col_total')
                  = render 'shared/star_rating', id: "total_rating", value: @event.average_rating, readonly: true
                  %span.text-muted= sprintf("(%.1f/5)", @event.average_rating)

              - if @event_ratings.count >= 1
                .table-responsive
                  %table.table.table-hover
                    %thead.table-light
                      %tr
                        %th.text-center
                          %i.bi.bi-person-circle
                        %th= t('user')
                        %th.text-center= t('rating')
                        - @conference.review_metrics.each do |review_metric|
                          %th.text-center= review_metric.name
                        %th= t('comment')
                    %tbody
                      - @event_ratings.each do |event_rating|
                        - if policy(@conference).manage?
                          - event_rating.person = Person.new if event_rating.person.nil?
                          %tr
                            %td.text-center= image_box event_rating.person.avatar, :small
                            %td
                              %div.fw-medium= event_rating.person.full_name
                            %td.text-center
                              = render 'shared/star_rating', id: "event_rating_#{event_rating.id}", value: event_rating.rating, readonly: true, size: 'sm'
                            - @conference.review_metrics.each do |review_metric|
                              - score = event_rating.review_scores.find_by(review_metric: review_metric)&.score
                              %td.text-center
                                - if score && score > 0
                                  = render 'shared/star_rating', id: "review_score_#{event_rating.id}_#{review_metric.id}", value: score, readonly: true, size: 'sm'
                                - else
                                  %span.text-muted= t('events_module.not_applicable')
                            %td
                              - if event_rating.comment.present?
                                %div.text-wrap{ style: "max-width: 300px;" }= event_rating.comment
                              - else
                                %span.text-muted -
