= block do
  %h2=t("cfp.resend_confirmation_headline") 
  = content do
    = render "shared/flash", :flash => flash
    = semantic_form_for(@user, :url => cfp_user_confirmation_path, :html => { :method => :post }) do |f|
      = f.inputs do
        = f.input :email
      = f.buttons do
        = f.commit_button t("cfp.resend_confirmation_button"), :button_html => {:class => "button", :icon => "tick"}
    = link_to t("cfp.back"), :back 
