= block do
  %h2=t("cfp.resend_confirmation_headline") 
  = content do
    = semantic_form_for(resource, :as => resource_name, :url => confirmation_path(resource_name), :html => { :method => :post }) do |f|
      = f.inputs do
        = f.input :email
      = f.buttons do
        = f.commit_button t("cfp.resend_confirmation_button"), :button_html => {:class => "button", :icon => "tick"}
    = link_to t("cfp.back"), :back 
