- call_for_papers = @conference.call_for_papers
= semantic_form_for(call_for_papers, url: call_for_papers_path) do |f|
  - call_for_papers.build_notification if call_for_papers.notification.nil?
  = f.semantic_fields_for :notification do |n|
    - call_for_papers.conference.languages.each do |lang|
      %h2= t("languages.#{lang.code}")
      = n.input "accept_subject_#{lang.code}", label: 'Accept subject', locale: lang.code
      = n.input "accept_body_#{lang.code}",    label: 'Accept body',    locale: lang.code, as: :text
      = n.input "reject_subject_#{lang.code}", label: 'Reject subject', locale: lang.code
      = n.input "reject_body_#{lang.code}",    label: 'Reject body',    locale: lang.code, as: :text
  = f.buttons do
    = f.commit_button :button_html => {:class => "btn primary"}