%section
  .page-header
    %h1 Edit Call for Papers

  - if @conference.ticket_type == 'integrated'
    %ul.tabs
      %li= link_to "General", edit_call_for_papers_path
      %li.active= link_to "Notification text", edit_notifications_call_for_papers_path

  .row
    .span6
      %h2 Possible variables
      %dl.dl-horizontal
        - Notification::VARIABLES.each do |key, desc|
          %dt= "#{desc}:"
          %dd= "%{#{key}}"

    .span16
      = render "form_notifications"
