<%= block do %>
  <%= content do %>
    <h2>Call for Papers</h2>

    <%= inner do %>

      <h3>Submissions by date</h3>

      <div id="submission_graph" style="width: 800px; height: 300px;"></div>

    <% end %>

  <% end %>

<% end %>

<% content_for :sidebar do %>

  <%= actions_block do %>
    <%= action_button "application_edit", "Edit", edit_call_for_papers_path %>
  <% end %>

<% end %>

<%= javascript_tag do %>

  var data = <%= Event.submission_data(@conference).inspect %>;

  $.plot($("#submission_graph"), [data], { xaxis: { mode: "time" } });

<% end %>
