<%= block do %>
  <%= content do %>
    <h2>Call for Papers</h2>

    <%= inner do %>

    <% end %>

  <% end %>

<% end %>

<% content_for :sidebar do %>

  <%= actions_block do %>
    <%= action_button "application_edit", "Edit", edit_call_for_papers_path %>
  <% end %>

<% end %>
