-# Note that this view has been created from the Devise one.
-# Compared to the sessions/new.html.haml, it does not contain all the
-# links depending on context. Anyway, sessions/new.html.haml seems not to be used...
- content_for :title do
  = link_to t('page_titles.login'), root_url, class: 'navbar-brand'

%section
  .page-header
    %h1= t('titles.session_login')
  - if devise_mapping.registerable?
    .row
      .col-md-12

        = simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|

          %fieldset.border.p-3.mb-4
            = f.input :email, required: false, autofocus: true, input_html: { autocomplete: "email" }
            = f.input :password, required: false, input_html: { autocomplete: "current-password" }
            = f.input :remember_me, as: :boolean if devise_mapping.rememberable?

          .actions
            = f.button :submit, class: 'btn btn-primary', value: t('session.login')

= render 'devise/shared/links'
