%table.zebra-striped
  %thead
    %th.first
    %th= t('activerecord.attributes.user.email')
    %th= t('activerecord.attributes.conference.acronym')
    %th= t('activerecord.attributes.conference_user.role')
    %th= t(:actions)
  %tbody
    - collection.group_by { |cu| cu.user_id }.each do |user_id, conference_users|
      - conference_user = conference_users.first
      %tr
        %td
        %td= conference_user.user.email
        %td= conference_users.map { |cu| "#{cu.conference.acronym}=#{cu.role}" }.join(', ')
        %td= conference_users.map(&:role).max_by { |r|  ConferenceUser::ROLES.index(r) }
        %td
          - if policy(conference_user).edit?
            = action_button 'small danger', t('edit'), edit_person_user_path(conference_user.user.person, conference_acronym: conference_user.conference.acronym)
