- content_for :title do
  = link_to t('page_titles.admin_users'), root_url, class: 'navbar-brand'

%section
  .page-header
    %h1= t('titles.admin_accounts')

  %ul.nav.nav-tabs
    %li.nav-item
      = link_to t('crew_accounts'), conference_users_path, class: 'nav-link'
    %li.nav-item
      = link_to t('admin_accounts'), admin_users_path, class: 'nav-link active'

  .row
    - if @users.present?
      = render 'table_admins', collection: @users
      - if @users.respond_to?(:total_pages) && @users.total_pages > 1
        .d-flex.justify-content-center.mt-3
          = will_paginate @users
