- content_for :title do
  = link_to 'frab - crew users', root_url, class: 'brand'

%section
  .page-header
    %h1 List of crew accounts

  - if current_user.is_admin?
    %ul.tabs
      %li.active= link_to "Crew Accounts", conference_users_path
      %li= link_to "Admin Accounts", admin_users_path

  .row

    - if @users.present?
      = render 'table', collection: @users
      = actions_bar do
        = will_paginate @users
