%section
  .page-header
    .pull-right
      - if can? :manage, CallForParticipation
        = action_button "primary", "Edit", edit_call_for_participation_path, :hint => "Edit this call for paper's data."
    %h1 Call for Participation
  - if @conference.call_for_participation.welcome_text
    .row
      .span16
        %p
          = simple_format @conference.call_for_participation.welcome_text
  - if @conference.call_for_participation.start_date
    .row
      .span16
        %p The call for papers starts at #{l(@conference.call_for_participation.start_date)} and ends at #{l(@conference.call_for_participation.end_date)}.
  .row
    .span16
      %p
        The interface for submitters is available at:
        = new_cfp_session_url
  .row
    .span16
      #submission_graph{:style => "width: 800px; height: 300px;"}

  .row
    .span16
      #submission_graph-sum_to_submission_time{:style => "width: 800px; height: 300px;"}

:javascript
  var data = #{@conference.submission_data.inspect};

  $.plot($("#submission_graph"), [data], { xaxis: { mode: "time" } });
  $.plot($("#submission_graph-sum_to_submission_time"), [data.reduce(function (a,b) {

    return a.concat([[
      b[0],
      b[1]+a[a.length-1][1]
    ]])
  }, [[0,0]]).slice(1)], { xaxis: { mode: "time" } });
