%section
  .page-header
    .float-end
    %h1= t('titles.person', person: @person.full_name)
  = render 'shared/people_tabs'

  - if @expenses.any?
    %table.table.table-striped
      %thead
        %tr
          %th= t('creation_date')
          %th= t('name')
          %th= t('expenses_module.reimbursed')
          %th= t('value')
          %th
          %th
      %tbody
        - @expenses.each do |e|
          %tr
            %td= e.created_at.to_formatted_s(:db)
            %td= e.name
            %td= e.reimbursed
            %td= to_currency e.value
            %td
              =action_button '<i class="bi bi-pencil-square"></i> '.html_safe + t('edit'), edit_person_expense_path(@person, e), class: "btn btn-primary btn-sm"
              = delete_button person_expense_path(@person, e), hint: t('destroy')

        %tr
          %td{ colspan: 3 }
            %b= t('expenses_module.sum_reimbursed')
          %td{ colspan: 2 }
            %b= to_currency @expenses_sum_reimbursed
        %tr
          %td{ colspan: 3 }
            %b= t('expenses_module.sum_not_reimbursed')
          %td{ colspan: 2 }
            %b= to_currency @expenses_sum_non_reimbursed

  =action_button '<i class="bi bi-plus-circle"></i> '.html_safe + t('expenses_module.new_expense'), new_person_expense_path, class: "btn btn-primary btn-sm"

