= semantic_form_for(current_user.person, :url => cfp_person_availability_path) do |f|
  = f.inputs do
    - @availabilities.each do |availability|
      %h3
        = l availability.day
        from
        %span.time_range
          = "#{availability.start_date} - #{availability.end_date}"
      = f.semantic_fields_for :availabilities, availability do |af|
        = af.input :time_range, :as => :hidden
        = af.input :conference_id, :as => :hidden
        = af.input :day, :as => :hidden
        .time_range_slider{"data-from" => availability.start_time.hour, "data-to" => availability.end_time.hour}
  = f.buttons do
    = f.commit_button t("cfp.save_availability"), :button_html => {:class => "btn primary"}

:javascript
  $(function() {
    $(".time_range_slider").each(function() {
      $(this).slider({
        range: true,
        min: 0,
        max: 24,
        values: [$(this).data("from"), $(this).data("to")],
        slide: function(event, ui) {
          // label
          $(this).prev().prev().prev().prev().children(".time_range").html(ui.values[0] + ":00 - " + ui.values[1] + ":00");
          // value
          $(this).prev().prev().prev().find("input").first().val(ui.values[0] + "-" + ui.values[1]);
        }
      });
    });
  });
