%section
  .page-header
    %h1=t("cfp.edit_account") 
  .row
    .span16
      = simple_form_for(@user, url: cfp_user_path, :html => { :method => :put }) do |f|
        %fieldset.inputs
          = f.input :email
          = f.input :password, :hint => t("cfp.password_hint") 
          = f.input :password_confirmation
        .actions
          = f.button :submit, t("cfp.update"), class: 'primary'
          = link_to t("cfp.back"), :back, :class => "btn"
