%section
  .page-header
    %h1
      = @conference.title
      Sign up
  .row
    .span16
      = simple_form_for(@user, url: cfp_user_path) do |f|
        %fieldset.inputs
          = f.input :email
          = f.input :password
          = f.input :password_confirmation
        .actions
          = f.button :submit, t("cfp.sign_up"), class: 'primary'
          = link_to t("cfp.back"), new_cfp_session_path, :class => "btn"
