%table.zebra-stripe
  %thead
    %tr
      %th.first
      - if @search
        %th= sort_link @search, :title, "Title", :term => params[:term]
        %th= sort_link @search, :track_name, "Track", :term => params[:term]
        %th= sort_link @search, :event_type, :term => params[:term]
        %th= sort_link @search, :state, "State", :term => params[:term]
        %th= sort_link @search, :created_at, :term => params[:term]
        - if @extra_fields.include?(:tech_rider)
          %th Tech rider
      - else
        %th Title
        %th Track
        %th Event type
        %th State
        %th Created at
        - if @extra_fields.include?(:tech_rider)
          %th Tech rider
      %th
  %tbody
    - events.each do |event|
      %tr
        %td= link_to (image_box event.logo, :small), event
        %td
          = link_to event.title, event
          %p.small
            = by_speakers(event)
        %td= event.track.try(:name)
        %td= event.event_type
        %td= event.state
        %td= l(event.created_at.to_date)
        - if @extra_fields.include?(:tech_rider)
          %td= event.tech_rider
        %td.buttons
          = action_button "small", 'Show', event
          - if can? :manage, event
            = action_button "small", 'Edit', edit_event_path(event)
            = action_button "small danger", 'Destroy', event, :confirm => 'Are you sure?', :method => :delete
