%table.zebra-stripe
  %thead
    %tr
      %th.first
      - if @search
        %th= sort_link @search, :full_name, term: params[:term]
        %th= sort_link @search, :public_name, term: params[:term]
        %th= sort_link @search, :email, term: params[:term]
        %th Events in
        %th= sort_link @search, :created_at, term: params[:term]
        - if @extra_fields.include?(:expenses)
          %th Non-reimbursed expenses
      - else
        %th Full name
        %th Public name
        %th Email
        %th Events in
        %th Created at
      %th.last
  %tbody
    - @people.each do |person|
      %tr
        %td= link_to (image_box person.avatar, :small), person
        %td= link_to person.full_name, person
        %td
          -unless person.public_name.nil?
            = link_to person.public_name, person
        %td= link_to person.email, person
        %td= person.events_in(@conference).map{|e| link_to e.title, e}.join(', ').html_safe
        %td= l(person.created_at.to_date)
        - if @extra_fields.include?(:expenses)
          %th= to_currency person.sum_of_expenses(@conference, false)
        %td.buttons
          = action_button "small", 'Show', person
          - if can? :manage, person
            = action_button "small", 'Edit', edit_person_path(person)
            = action_button "small danger", 'Destroy', person, confirm: 'Are you sure?', method: :delete

    - if @extra_fields.include?(:expenses)
      %tr
        %td{ colspan: 5 }
        %td
          %b Total
        %td{ colspan: 2 }
          %b= to_currency @total_sum
