%p Query Events
%ul
  %li= link_to "lectures with speaker", report_on_events_path('lectures_with_speaker')
  %li= link_to "lectures that are new or review", report_on_events_path('lectures_not_confirmed')
  %li= link_to "events that are unconfirmed", report_on_events_path("unconfirmed_events")
  %li= link_to "events that are not public", report_on_events_path("events_not_public")
  %li= link_to "list of all workshops", report_on_events_path('events_that_are_workshops')
  %li= link_to "events that are neither lectures nor workshops", report_on_events_path('events_that_are_no_lectures')
  %li= link_to "events with a note", report_on_events_path('events_with_a_note')
  %li= link_to "events without speaker", report_on_events_path('events_without_speaker')
  %li= link_to "events without abstract", report_on_events_path('events_without_abstract')
  %li= link_to "events with speakers in a problematic state", report_on_events_path("events_with_unusual_state_speakers")
  %li= link_to "events with 'do not record' flag set", report_on_events_path("do_not_record_events")
  %li= link_to "events with more than one speaker", report_on_events_path("events_with_more_than_one_speaker")
  %li= link_to "list all lectures with non default timeslots", report_on_events_path('event_timeslot_deviation')
  %li= link_to "list all scheduled events with tech riders", report_on_events_path('events_with_tech_rider')
%p Query Speakers
%ul
  %li= link_to "missing speakers for the next 4 hours", report_on_people_path("expected_speakers")
  %li= link_to "confirmed people speaking at conference", report_on_people_path("people_speaking_at")
  %li= link_to "people with a note in their submission", report_on_people_path("people_with_a_note")
  %li= link_to "people with more than one submission", report_on_people_path("people_with_more_than_one")
  - if @conference.expenses_enabled?
    %li= link_to "people with non-reimbursed expenses", report_on_people_path("people_with_non_reimbursed_expenses")
%p Statistics
%ul
  %li= link_to "used timeslots (hours)", report_on_statistics_path("event_timeslot_sum")
  %li= link_to "confirmed event numbers by track", report_on_statistics_path("confirmed_events_by_track")
  %li= link_to "event numbers by track", report_on_statistics_path("events_by_track")
  %li= link_to "confirmed speakers by day with attendance status", report_on_statistics_path("people_speaking_by_day")

- if @conference.transport_needs_enabled?
  %p Transport needs
  %ul
    %li= link_to "overview on transport needs", report_on_transport_needs_path("all")
