%p Query Events
%ul
  %li= link_to t('reports_module.lectures_with_speaker'), report_on_events_path('lectures_with_speaker')
  %li= link_to t('reports_module.lectures_not_confirmed'), report_on_events_path('lectures_not_confirmed')
  %li= link_to t('reports_module.unconfirmed_events'), report_on_events_path("unconfirmed_events")
  %li= link_to t('reports_module.events_not_public'), report_on_events_path("events_not_public")
  %li= link_to t('reports_module.events_that_are_workshops'), report_on_events_path('events_that_are_workshops')
  %li= link_to t('reports_module.events_that_are_no_lectures'), report_on_events_path('events_that_are_no_lectures')
  %li= link_to t('reports_module.events_with_a_note'), report_on_events_path('events_with_a_note')
  %li= link_to t('reports_module.events_without_speaker'), report_on_events_path('events_without_speaker')
  %li= link_to t('reports_module.events_without_abstract'), report_on_events_path('events_without_abstract')
  %li= link_to t('reports_module.events_with_unusual_state_speakers'), report_on_events_path("events_with_unusual_state_speakers")
  %li= link_to t('reports_module.do_not_record_events'), report_on_events_path("do_not_record_events")
  %li= link_to t('reports_module.events_with_more_than_one_speaker'), report_on_events_path("events_with_more_than_one_speaker")
  %li= link_to t('reports_module.event_timeslot_deviation'), report_on_events_path('event_timeslot_deviation')
  %li= link_to t('reports_module.events_with_tech_rider'), report_on_events_path('events_with_tech_rider')
%p Query Speakers
%ul
  %li= link_to t('reports_module.expected_speakers'), report_on_people_path("expected_speakers")
  %li= link_to t('reports_module.people_speaking_at'), report_on_people_path("people_speaking_at")
  %li= link_to t('reports_module.people_with_a_note'), report_on_people_path("people_with_a_note")
  %li= link_to t('reports_module.people_with_more_than_one'), report_on_people_path("people_with_more_than_one")
  - if @conference.expenses_enabled?
    %li= link_to t('reports_module.people_with_non_reimbursed_expenses'), report_on_people_path("people_with_non_reimbursed_expenses")
  %li= link_to t('non_attending_speakers'), report_on_people_path("non_attending_speakers")
  %li= link_to t('speakers_without_availabilities'), report_on_people_path("speakers_without_availabilities")
%p= t('ratings_module.statistics')
%ul
  %li= link_to t('reports_module.event_timeslot_sum'), report_on_statistics_path("event_timeslot_sum")
  %li= link_to t('reports_module.confirmed_events_by_track'), report_on_statistics_path("confirmed_events_by_track")
  %li= link_to t('reports_module.events_by_track'), report_on_statistics_path("events_by_track")
  %li= link_to t('reports_module.people_speaking_by_day'), report_on_statistics_path("people_speaking_by_day")

- if @conference.transport_needs_enabled?
  %p= t('transport_needs_module.transport_needs')
  %ul
    %li= link_to "reports.all_transportation_needs", report_on_transport_needs_path("all")
