%section
  .page-header
    %h1= t('reports_module.available_reports')
  = render 'report_menu'
  %h2= t(@report_type, scope: 'reports_module')
  - if @people or @events
    = render 'shared/simple_search', path: request.path
  - unless @search_count.nil?
    = t('reports_module.found_x_results', nb: @search_count)
  - if not @people.nil? and not @people.empty?
    .row
      .col-md-12
        - if @people.all.empty?
          %p= t('reports_module.no_search_results')
        - else
          = render 'people_table', people: @people
          - if @people.respond_to?(:total_pages) && @people.total_pages > 1
            .d-flex.justify-content-center.mt-3
              = will_paginate @people
  - if not @events.nil? and not @events.empty?
    .row
      .col-md-12
        - if @events.all.empty?
          %p= t('reports_module.no_search_results')
        - else
          = render 'events_table', events: @events
          - if @events.respond_to?(:total_pages) && @events.total_pages > 1
            .d-flex.justify-content-center.mt-3
              = will_paginate @events
  - if not @data.nil? and not @data.empty?
    .row
      .col-md-12
        = render 'statistics_table', data: @data
  - if not @transport_needs.nil? and not @transport_needs.empty?
    .row
      .col-md-12
        = render 'transport_needs_table', transport_needs: @transport_needs
