= block do
  = content do
    %h2 Welcome
    = inner do
      %p
        Thank you for your interest in participating in #{@conference.title}
      - if cfp_hard_deadline_over?
      - elsif @person.events_in(@conference).size > 0
        - if @person.availabilities_in(@conference).count == 0
          %p Please let us know, at what times you would be available to hold your event:
          = action_button "clock", "Edit availability", new_cfp_person_availability_path
          .clear
        %p We really appreciate your input so far. Feel free to submit another event:
        = action_button "add", "Submit another event", new_cfp_event_path
      - else
        %p Please take the time to submit your proposal:
        = action_button "add", "Submit a new event", new_cfp_event_path
        .clear
        %p
          And do not forget to fill out your personal details if you have not done so already.
          Please remember that you can always go back and edit your profile using the button
          in the right sidebar.
        = action_button "application_edit", "Edit your personal profile", edit_cfp_person_path
      .clear
      - if @person.events_in(@conference).size > 0
        %h3 Events you already submitted:
        %table.table
          %thead
        %th Title
        %th State
        %th Actions
        %tbody
          - @person.events_in(@conference).each do |event|
            %tr{:class => cycle("odd", "even")}
              %td= event.title
              %td= event.state
              %td
                = link_to "Edit", edit_cfp_event_path(event)
                = link_to "Withdraw", withdraw_cfp_event_path(event), :method => :put, :confirm => "Really withdraw this event from the Call for Papers?"
- content_for :sidebar do
  = actions_block do
    = action_button "add", "Submit a new event", new_cfp_event_path
    = action_button "application_edit", "Edit your personal profile", edit_cfp_person_path
    - if @person.availabilities_in(@conference).count == 0
      = action_button "clock", "Edit availability", new_cfp_person_availability_path
    - else
      = action_button "clock", "Edit availability", edit_cfp_person_availability_path
    = action_button "application_edit", "Edit your account", edit_cfp_user_registration_path
  = block do
    %h3 Information
    = content do
      - unless @conference.call_for_papers.info_url.blank?
        %p
          Unsure what to submit? Read all about the Call for Papers at: #{link_to @conference.call_for_papers.info_url, @conference.call_for_papers.info_url}
      %p
        Please make sure to submit your proposal until
        %b= @conference.call_for_papers.end_date
  - unless @conference.call_for_papers.contact_email.blank?
    = block do
      %h3 Contact
      = content do
        %p
          If anything goes wrong with your submission or if you have any question, please do not hesitate to contact us at #{mail_to @conference.call_for_papers.contact_email}
