= block do
  = content do
    %h2=t("cfp.welcome") 
    = inner do
      %p=t("cfp.thanks_for_interest", :title => @conference.title)
      - if cfp_hard_deadline_over?
        %p=t("cfp.hard_deadline_over")
      - elsif @person.events_in(@conference).size > 0
        - if @person.availabilities_in(@conference).count == 0
          %p=t("cfp.specify_availability") 
          = action_button "clock", t("cfp.edit_availability"), new_cfp_person_availability_path
          .clear
        %p=t("cfp.input_appreciation") 
        = action_button "add", t("cfp.submit_another_event"), new_cfp_event_path
      - else
        %p=t("cfp.take_time_to_submit") 
        = action_button "add", t("cfp.submit_new_event"), new_cfp_event_path
        .clear
        %p=t("cfp.not_forget_personal_details")
        = action_button "application_edit", t("cfp.edit_profile"), edit_cfp_person_path
      .clear
      - if @person.events_in(@conference).size > 0
        %h3=t("cfp.events_submitted") 
        %table.table
          %thead
        %th t("activerecord.attributes.events.title") 
        %th t("activerecord.attributes.events.state")
        %th t(:actions)
        %tbody
          - @person.events_in(@conference).each do |event|
            %tr{:class => cycle("odd", "even")}
              %td= event.title
              %td= event.state
              %td
                = link_to t("edit"), edit_cfp_event_path(event)
                = link_to t("cfp.withdraw"), withdraw_cfp_event_path(event), :method => :put, :confirm => t("cfp.withdrawal_confirmation")

- content_for :sidebar do
  = actions_block do
    = action_button "add", t("cfp.submit_new_event"), new_cfp_event_path
    = action_button "application_edit", t("cfp.edit_profile"), edit_cfp_person_path
    - if @person.availabilities_in(@conference).count == 0
      = action_button "clock", t("cfp.edit_availability"), new_cfp_person_availability_path
    - else
      = action_button "clock", t("cfp.edit_availability"), edit_cfp_person_availability_path
    = action_button "application_edit", t("cfp.edit_account"), edit_cfp_user_registration_path
  = block do
    %h3=t("cfp.information_headline") 
    = content do
      - unless @conference.call_for_papers.info_url.blank?
        %p=t("cfp.info_url_description", :link => link_to(@conference.call_for_papers.info_url, @conference.call_for_papers.info_url))
      %p
        =t("cfp.deadline_description") 
        %b= @conference.call_for_papers.end_date
  - unless @conference.call_for_papers.contact_email.blank?
    = block do
      %h3=t("cfp.contact_headline")
      = content do
        %p=t("cfp.contact_description", :mail_to => mail_to(@conference.call_for_papers.contact_email))
