= semantic_form_for(@person, :url => person_availability_path) do |f|
  = f.inputs do
    - @conference.days.each do |day|
      - availability = @availabilities.select{ |a| a.day == day }.first
      - availability.nil? and availability = Availability.new(:day => day, :conference => @conference)
  
      - if availability.start_date
        = render(:partial => 'shared/availabilities_slider', :locals => { :f => f, :day => day, :availability => availability })
      - else
        = add_dynamic_partial 'shared/availabilities_slider', "make available", { :f => f, :day => day, :availability => availability }

  = f.buttons do
    - if can? :manage, @person
      = f.commit_button t("cfp.save_availability"), :button_html => {:class => "btn primary"}

