%section
  .page-header
    .pull-right
    %h1 Person: #{@person.full_name}
  %ul.tabs
    %li= link_to "Profile", @person
    - if can? :manage, @user
      %li= link_to "User account", person_user_path(@person)
    %li.active= link_to "Availability", new_person_availability_path(@person)
    %li= link_to "Feedback", feedbacks_people_path(:id => @person.id)
  .row
    .span16
      = render 'form'
