%section
  .page-header
    .pull-right
    %h1 Person: #{@person.full_name}
  = render 'shared/people_tabs'
  .row
    .span16
      = content do
        = inner do
          %p.alert
            #{@person.full_name} does not currently have any availabilities.
            You need to submit this form.
          = render 'form'
