%section
  .page-header
    .pull-right
    %h1= t('titles.person', {person: @person.full_name})
  = render 'shared/people_tabs'
  .row
    .span16
      = content do
        = inner do
          %p.alert= t('availabilities.alerts.no_availabilities', {person: @person.full_name})

          = render 'form'
