<!DOCTYPE html>
<html>
<head>
  <title><%= @conference.title %> - Management</title>
  <%= stylesheet_link_tag "frab", "web-app-theme/base", "web-app-theme/themes/frab/style", "web-app-theme/override", "formtastic", "formtastic_changes", "overcast/jquery-ui-1.8.11.custom", :cache => true %>
  <%= javascript_include_tag :defaults, "jquery-ui-1.8.11.custom.min", "cocoon", "jquery.flot.min", :cache => true %>
  <%= csrf_meta_tag %>
</head>
<body>
  <div id="container">
    <div id="header">
      <h1>
        <% if params[:conference_acronym] %>
          <%= link_to "#{@conference.title} (#{@conference.acronym})", root_path %>
        <% else %>
          <%= link_to "Welcome to frab", root_path %>
        <% end %>
      </h1>
      <div id="user-navigation">
        <ul class="wat-cf">
          <li>
            <%= link_to_function t("switch_conference", :default => "Switch Conference"), "$('#conf-switch').toggle();" %>
            <div id="conf-switch" style="position:absolute; background: #262626; z-index: 10; display:none;">
              <% Conference.all.each do |conference| %>
                <%= link_to conference.acronym, root_path(:conference_acronym => conference.acronym) %> <br />
              <% end %>
              <hr />
              <%= link_to "Create new conference", new_conference_path(:conference_acronym => nil) %>
            </div>
          </li>
          <li><a href="#"><%= t("web-app-theme.settings", :default => "Settings") %></a></li>
          <li><%= link_to t("web-app-theme.logout", :default => "Logout"), destroy_user_session_path %></li>
        </ul>
      </div>
      <div id="main-navigation">
        <ul class="wat-cf">
        <% if params[:conference_acronym] %>
          <li><%= link_to t("people", :default => "People"), people_path %></li>
          <li><%= link_to t("events", :default => "Events"), events_path %></li>
          <li>
            <% if @conference.call_for_papers %>
              <%= link_to t("call for papers", :default => "Call for Papers"), call_for_papers_path %>
            <% else %>
              <%= link_to t("call for papers", :default => "Launch Call for Papers"), new_call_for_papers_path %>
            <% end %>
          </li>
          <li><%= link_to t("conference_settings", :default => "Conference Settings"), edit_conference_path(@conference) %></li>
        <% end %>
        </ul>
      </div>
    </div>    
    <div id="wrapper" class="wat-cf">
      <%= render 'shared/flash', :flash => flash %>
      <div id="main">
        <%= yield %>
        <div id="footer">
          <div class="block">
            <p>Copyright &copy; <%= Time.now.year %> the frab project.</p>
          </div>      
        </div>
      </div>
      <div id="sidebar">
        <%= yield :sidebar %>
      </div>
    </div>    
  </div>
</body>
</html>
