!!!
%html
  %head
    - if @conference&.id
      %title= t('titles.cfp_welcome', conference: @conference.title)
    - else
      %title= home_page_title

    %link{rel: "icon", type: "image/svg+xml", href: "/favicon.svg"}
    = csrf_meta_tags
    = stylesheet_link_tag 'application'
    = stylesheet_link_tag 'admin'
    = javascript_importmap_tags 'application'

  %body.d-flex.flex-column.min-vh-100.bg-light
    %a.visually-hidden-focusable.btn.btn-primary.position-fixed{href: "#main-content", style: "top: 10px; left: 10px; z-index: 1050;"}
      = t('skip_to_main_content', default: 'Skip to main content')
    %nav.navbar.navbar-expand-md.navbar-dark.bg-dark.shadow-sm{role: "navigation", "aria-label": t('main_navigation', default: 'Main navigation')}
      .container-xxl
        - if content_for? :title
          = yield :title
        - elsif @conference&.id
          = link_to t('titles.cfp_welcome', conference: @conference.title), root_url, class: 'navbar-brand'
        - else
          = link_to t('page_titles.welcome'), root_path, class: "navbar-brand"

        %button.navbar-toggler{type: "button", "data-bs-toggle": "collapse", "data-bs-target": "#navbarNav", "aria-controls": "navbarNav", "aria-expanded": "false", "aria-label": "Toggle navigation"}
          %span.navbar-toggler-icon

        .collapse.navbar-collapse#navbarNav
          - if current_user
            %ul.navbar-nav.me-auto.mb-2.mb-lg-0
              %li.nav-item
                = link_to root_path, class: 'nav-link' do
                  %i.bi.bi-building
                  = t('conferences')
              - if policy(Person).manage?
                %li.nav-item
                  = link_to conference_users_path, class: 'nav-link' do
                    %i.bi.bi-people
                    = t('users')

            %ul.navbar-nav.ms-auto
              -# drop down for admin
              - if policy(Conference).index?
                = render 'shared/navi_conferences_menu'
                = render 'shared/navi_account_menu'

              - elsif current_user.person
                -if @conference && policy(@conference).manage?
                  %li.nav-item
                    = link_to conference_path(conference_acronym: @conference.acronym), class: 'nav-link' do
                      %i.bi.bi-gear
                      = t('manage_conference', default: "Manage this conference")

                = render 'shared/navi_cfp_conferences_menu'

                -# drop down for cfp account
                - if @conference
                  = render 'shared/navi_cfp_account_menu'
                - else
                  = render 'shared/navi_cfp_account_no_conference_menu'

          - unless current_user
            %ul.navbar-nav.ms-auto
              = render 'shared/navi_cfp_login'

    %main.flex-grow-1#main-content{role: "main", "aria-label": t('main_content', default: 'Main content')}
      .container-xxl.py-4
        .bg-white.rounded.shadow-sm.p-4
          = render 'shared/flash', flash: flash
          = yield

    = render 'shared/footer'
