<!DOCTYPE html>
<html>
<head>
  <title>Web App</title>
  <%= stylesheet_link_tag "nab", "web-app-theme/base", "web-app-theme/themes/blue/style", "web-app-theme/override", "formtastic", :cache => true %>
  <%= javascript_include_tag :defaults, :cache => true %>
  <%= csrf_meta_tag %>
</head>
<body>
  <div id="container">
    <div id="header">
      <h1>
        <% if params[:conference_acronym] %>
          <%= link_to @conference.title, root_path %>
        <% else %>
          <%= link_to "Welcome to nab", root_path %>
        <% end %>
      </h1>
      <div id="user-navigation">
        <ul class="wat-cf">
          <li>
            <%= link_to_function t("switch_conference", :default => "Switch Conference"), "$('#conf-switch').toggle();" %>
            <div id="conf-switch" style="position:absolute; background: #262626; z-index: 10; display:none;">
              <% Conference.all.each do |conference| %>
                <%= link_to conference.acronym, root_path(:conference_acronym => conference.acronym) %> <br />
              <% end %>
            </div>
          </li>
          <li><a href="#"><%= t("web-app-theme.settings", :default => "Settings") %></a></li>
          <li><a href="/logout" class="logout"><%= t("web-app-theme.logout", :default => "Logout") %></a></li>
        </ul>
      </div>
      <div id="main-navigation">
        <ul class="wat-cf">
          <li><%= link_to t("people", :default => "People"), people_path %></li>
          <li><%= link_to t("events", :default => "Events"), events_path %></li>
        </ul>
      </div>
    </div>    
    <div id="wrapper" class="wat-cf">
      <div class="flash">
        <% flash.each do |type, message| -%>
          <div class="message <%= type %>">
            <p><%= message %></p>
          </div>
        <% end -%>
      </div>
      <div id="main">
        <%= yield %>
        <div id="footer">
          <div class="block">
            <p>Copyright &copy; <%= Time.now.year %> the nab project.</p>
          </div>      
        </div>
      </div>
      <div id="sidebar">
        <%= yield :sidebar %>
      </div>
    </div>    
  </div>
</body>
</html>
