!!!
%html
  %head
    %title
      - if @conference and @conference.title
        = @conference.title
        - if @event.present?
          \-
          = @event.title
        - elsif @person.present?
          \-
          = @person.full_name
      - else
        frab
      \- Conference Management

    = stylesheet_link_tag "application", "admin"
    = javascript_include_tag "application", "admin"
    = csrf_meta_tags
  %body
    .topbar
      .fill
        .container
          - if @conference and not @conference.new_record?
            = link_to @conference.title, conference_home_path, :class => "brand"
          - else
            = link_to "Welcome to frab", root_path, :class => "brand"
          %ul.nav
            - if @conference and not @conference.new_record?
              - if can? :administrate, Person
                %li= link_to t("people", :default => "People"), url_for(:action => 'index', :controller => 'people')
              %li= link_to t("events", :default => "Events"), events_path
              - if can? :manage, CallForParticipation
                %li= link_to t("reports", :default => "Reports"), reports_path
              %li
                - if @conference.call_for_participation
                  = link_to t(:call_for_participation, :default => "Call for Participation"), call_for_participation_path
                - elsif can? :manage, CallForParticipation
                  = link_to t(:launch_call_for_participation, :default => "Launch Call for Participation"), new_call_for_participation_path
              - if can? :manage, CallForParticipation
                %li= link_to t("schedule", :default => "Schedule"), schedule_path
              - if can? :update, @conference
                %li= link_to t("mail_templates", :default => "Mail templates"), mail_templates_path
                %li= link_to t("settings", :default => "Settings"), edit_conference_path(@conference)
          %ul.nav.secondary-nav.pull-right
            - conferences = accessible_conferences
            - if conferences.present? and conferences.count > 1
              %li.dropdown
                = link_to t("switch_conference", :default => "Switch conference"), "#", :class => "dropdown-toggle"
                %ul.dropdown-menu
                  - conferences[0..19].each do |conference|
                    - unless @conference == conference
                      %li= link_to conference.acronym, conference_home_path(:conference_acronym => conference.acronym)
                  %li.divider/
                  - if conferences.count > 1
                    %li= link_to t(:conferences, :default => "more"), conference_index_path
                  - if can? :manage, Conference
                    %li= link_to t(:create_new_conference, :default => "Create new conference"), new_conference_path(:conference_acronym => nil)
            - elsif can? :manage, Conference
              %li= link_to t(:create_new_conference, :default => "Create new conference"), new_conference_path(:conference_acronym => nil)
            %li.dropdown
              = link_to t("show_account", :default => "Account"), "#", :class => "dropdown-toggle"
              %ul.dropdown-menu
                - if @conference
                  %li= link_to t("user_settings", :default => "Settings"), person_user_path(current_user.person)
                %li= link_to t("logout", :default => "Logout"), session_path, :method => :delete
    .container
      .main-content
        = render 'shared/flash', :flash => flash
        = yield
    %footer.footer
      .container
