!!!
%html
  %head
    %title= t('titles.cfp_welcome', {conference: @conference.title})
    = stylesheet_link_tag "application"
    = javascript_include_tag "application", "admin"
    = csrf_meta_tags
  %body
    .container
      .topbar
        .fill
          .container
            = link_to t('titles.cfp_welcome', {conference: @conference.title}), root_url, class: 'brand'

            %ul.nav.secondary-nav.pull-right
              - if current_user and current_user.person
                = render 'shared/navi_cfp_account'
              - else
                = render 'shared/navi_cfp_login'

    .container
      .main-content
        = render 'shared/flash', flash: flash
        = yield
    %footer
      .container/
