!!!
%html
  %head
    %title= management_page_title

    = stylesheet_link_tag "application", "admin"
    = javascript_include_tag "application", "admin"
    = csrf_meta_tags

  %body
    .topbar
      .fill
        .container
          - fail t('cfp.fail_layout_use') unless @conference
          = link_to @conference.title, conference_path(conference_acronym: @conference.acronym), class: "brand"
          %ul.nav.pull-left
            %li= link_to t('home'), root_path
          %ul.nav
            = render 'shared/navi_conference'
          %ul.nav.secondary-nav.pull-right
            = render 'shared/navi_conferences_menu'
            %li
              %a{href: '#'}
                %i= humanized_access_level
            = render 'shared/navi_account_menu'
    .container
      .main-content
        = render 'shared/flash', flash: flash
        = yield
    %footer.footer
      .container
