!!!
%html
  %head
    %title= management_page_title

    %link{rel: "icon", type: "image/svg+xml", href: "/favicon.svg"}
    = csrf_meta_tags
    = stylesheet_link_tag 'application'
    = stylesheet_link_tag 'admin'
    = javascript_importmap_tags "application"
    = yield :head

  %body.d-flex.flex-column.min-vh-100{style: "background-color: var(--frab-bg);"}
    %a.visually-hidden-focusable.btn.btn-primary.position-fixed{href: "#main-content", style: "top: 10px; left: 10px; z-index: 1050;"}
      = t('skip_to_main_content', default: 'Skip to main content')
    %nav.navbar.navbar-expand-md.navbar-dark.bg-dark.shadow-sm{role: "navigation", "aria-label": t('main_navigation', default: 'Main navigation')}
      .container-xxl
        - fail t('cfp.fail_layout_use') unless @conference
        = link_to @conference.acronym, root_path, class: 'navbar-brand'

        %button.navbar-toggler{type: "button", "data-bs-toggle": "collapse", "data-bs-target": "#navbarNav", "aria-controls": "navbarNav", "aria-expanded": "false", "aria-label": "Toggle navigation"}
          %span.navbar-toggler-icon

        .collapse.navbar-collapse#navbarNav
          %ul.navbar-nav.me-auto.mb-2.mb-lg-0
            - if @conference.call_for_participation&.persisted?
              %li.nav-item
                = link_to call_for_participation_path, class: 'nav-link',
                  "data-bs-toggle": "tooltip", "data-bs-placement": "bottom",
                  title: t(:call_for_participation, default: "Call for Participation") do
                  %i.bi.bi-megaphone
                  = t(:call_for_participation_short, default: "Call")
            %li.nav-item
              = link_to events_path, class: 'nav-link' do
                %i.bi.bi-calendar-event
                = t("events", default: "Events")
            - if policy(@conference).manage?
              %li.nav-item
                = link_to url_for(action: 'index', controller: 'people'), class: 'nav-link' do
                  %i.bi.bi-people
                  = t("people", default: "People")
            - if policy(@conference).manage?
              %li.nav-item
                = link_to schedule_path, class: 'nav-link' do
                  %i.bi.bi-calendar3
                  = t("schedule", default: "Schedule")
              %li.nav-item
                = link_to edit_conference_path(@conference), class: 'nav-link' do
                  %i.bi.bi-gear
                  = t("settings", default: "Settings")
            %li.nav-item.dropdown
              = link_to '#', class: 'nav-link dropdown-toggle', 'data-bs-toggle': 'dropdown', 'aria-expanded': 'false' do
                %i.bi.bi-window
                = t('more', default: 'More')
              %ul.dropdown-menu
                %li.nav-item
                  = link_to  conference_path(conference_acronym: @conference.acronym), class: "dropdown-item" do
                    %i.bi.bi-graph-up
                    = t('stats')
                - if policy(@conference).orga?
                  %li.nav-item
                    = link_to reports_path, class: 'dropdown-item' do
                      %i.bi.bi-bar-chart
                      = t("reports", default: "Reports")
                - unless @conference.call_for_participation&.persisted?
                  - if policy(@conference).orga?
                    %li.nav-item
                      = link_to new_call_for_participation_path, class: 'dropdown-item' do
                        %i.bi.bi-megaphone
                        = t(:launch_call_for_participation, default: "Launch Call for Participation")
                - if policy(@conference).orga?
                  %li.nav-item
                    = link_to mail_templates_path, class: 'dropdown-item' do
                      %i.bi.bi-envelope-paper
                      = t("mail_templates", default: "Mail templates")


          %ul.navbar-nav.ms-auto
            = render 'shared/navi_conferences_menu'
            = render 'shared/navi_account_menu'
            %li.nav-item
              = render 'shared/theme_toggle'

    %main.flex-grow-1#main-content{role: "main", "aria-label": t('main_content', default: 'Main content')}
      .container-xxl.py-4
        = render 'shared/conference_context_card'
        .rounded.shadow-sm.p-4{style: "background-color: var(--frab-surface); color: var(--frab-text);"}
          = render 'shared/flash', flash: flash
          = yield

    = render 'shared/footer'
