!!!
%html
  %head
    %title= home_page_title

    = stylesheet_link_tag "application", "admin"
    = javascript_include_tag "application", "admin"
    = csrf_meta_tags

  %body
    .topbar
      .fill
        .container
          - if content_for? :title
            = yield :title
          - elsif @conference
            = link_to @conference.title, root_url, class: 'brand'

          - if current_user
            = current_user.person.full_name

          - if current_user
            %ul.nav.secondary-nav.pull-right
              = render 'shared/navi_conferences_menu'
              = render 'shared/navi_account_menu'
          - else
            %ul.nav.secondary-nav.pull-right
              %li
                = link_to t("cfp.login"), new_user_session_path
              %li
                = link_to t("cfp.sign_up"), new_user_registration_path

    .container
      .main-content
        = render 'shared/flash', flash: flash
        = yield
    %footer.footer
      .container
