!!!
- title = t 'public.schedule.title', :title => @conference.title
%html
  %head
    %meta{ :"http-equiv" => "content-type", :content => "text/html; charset=utf-8" }
    %title= title
    = stylesheet_link_tag 'public_schedule'
    = stylesheet_link_tag public_schedule_style_path(:format => :css), :media => "all"
    = stylesheet_link_tag 'public_schedule_print', :media => 'print'
    = javascript_include_tag "application" 
  %body{:class => "container"}
    #header
      %h1= title
    #wrapper.row
      #horizontal-navigation.span3
        
        %div{:class=>"list-group"}
          %a{:href => "#", :class => "list-group-item"}
            This is a test item
          %a{:href => "#", :class => "list-group-item"}
            This is a test item
          %a{:href => "#", :class => "list-group-item"}
            This is a test item
          %a{:href => "#", :class => "list-group-item"}
            This is a test item
          %a{:href => "#", :class => "list-group-item"}
            This is a test item
          %a{:href => "#", :class => "list-group-item"}
            This is a test item
          %a{:href => "#", :class => "list-group-item"}
            This is a test item
          %a{:href => "#", :class => "list-group-item"}
            This is a test item

      #main-content.span11
        - unless @conference.schedule_version.nil? or @conference.schedule_version.empty?
          %p.release
            = "Version #{@conference.schedule_version}"

        = yield
        %br.clear/
