!!!
- title = t('public.schedule.title', title: @conference.title)
%html
  %head
    %meta{ :"http-equiv" => "content-type", :content => "text/html; charset=utf-8" }
    %title= title
    = stylesheet_link_tag 'public_schedule'
    = stylesheet_link_tag public_schedule_style_path(:format => :css), :media => "all"
    = stylesheet_link_tag 'public_schedule_print', :media => 'print'
  %body
    #wrapper
      #banner
      #header
        %h1= title
        #top-navigation
          %ul.horizontal-navigation
            - unless feedback_page?
              %li{:class => selected(/schedule$/)}
                = link_to t('public.schedule.nav.index'), public_schedule_index_path
              - @conference.days.each_with_index do |day, index|
                %li{:class => selected(/#{day.label}$/)}
                  %a{:href => public_schedule_path(:day => index)}
                    - if @conference.days.length > 1
                      = t 'public.schedule.nav.day', :index => index + 1
                      %br/
                      %span.small-font= l day.date
                    - else
                      = t 'public.schedule.nav.schedule'
              %li{:class => selected(/speakers.*$/)}
                = link_to t('public.schedule.nav.speakers'), public_speakers_path
              %li{:class => selected(/events.*$/)}
                = link_to t('public.schedule.nav.events'), public_events_path
          %br.clear/
      #main-content
        - unless @conference.schedule_version.nil? or @conference.schedule_version.empty?
          %p.release
            = "Version #{@conference.schedule_version}"

        = yield
        %br.clear/
