!!!
%html
  %head
    %title= t('titles.frab')
    = stylesheet_link_tag "application"
    = csrf_meta_tags
  %body
    .container
      .topbar
        .fill
          .container
            - if @conference
              = link_to t('titles.frab_conference', {conference: @conference.title}), new_cfp_session_path, class: "brand"
            - else
              = link_to t('conference_management'), '#', class: 'brand'
            %ul.nav.secondary-nav.pull-right
              - if current_user
                %li= link_to t("logout", default: "Logout"), cfp_session_path, method: :delete
    .container
      .main-content
        = yield
